{
    "openapi": "3.0.0",
    "info": {
        "version": "1.0",
        "title": "E-INVOICE-API",
        "description": "E-INVOICE-API"
    },
    "security": [
        {
            "OAuth2": [
                "read"
            ]
        }
    ],
    "servers": [
        {
            "url": "https://apisandbox.whitebooks.in"
        }
    ],
    "tags": [
        {
            "name": "Authentication",
            "description": "Authentication API"
        },
        {
            "name": "Get GSTN Details",
            "description": "Get GSTN Details for a given GST Number"
        },
        {
            "name": "Get Sync GSTIN From CP",
            "description": "Get Sync GSTIN details from Common Portal"
        },
        {
            "name": "Generate IRN",
            "description": "Generate Invoice Reference Number (IRN)"
        },
        {
            "name": "Get EInvoice Details",
            "description": "Get e-Invoice details for a given IRN"
        },
        {
            "name": "Get IRN details by Doc Details",
            "description": "Get IRN details by Doc Details"
        },
        {
            "name": "Cancel IRN",
            "description": "Cancel Invoice Reference Number (IRN)"
        },
        {
            "name": "Get Rejected IRNs",
            "description": "Get Rejected IRNs"
        },
        {
            "name": "Generate Ewaybill",
            "description": "Generate the e-waybill using Invoice Reference Number (IRN)"
        },
        {
            "name": "Get Ewaybill Details by IRN",
            "description": "Get Ewaybill Details by IRN"
        },
        {
            "name": "Get B2C QR Code Details",
            "description": "Get B2C QR Code Details"
        }
    ],
    "paths": {
        "/einvoice/authenticate": {
            "get": {
                "description": "Authentication Request",
                "summary": "Authentication Request",
                "operationId": "authentication",
                "deprecated": false,
                "security": [
                    {
                        "OAuth2": [
                            "read",
                            "write"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "description": "User Email",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "username",
                        "in": "header",
                        "description": "User Name",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "password",
                        "in": "header",
                        "description": "Password",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ip_address",
                        "in": "header",
                        "description": "IP Address",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_id",
                        "in": "header",
                        "description": "Client ID",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_secret",
                        "in": "header",
                        "description": "Client Secret",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gstin",
                        "in": "header",
                        "description": "GSTIN number",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found. If requested entity is not found or if requested API is not found."
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "tags": [
                    "Authentication"
                ]
            }
        },
        "/einvoice/type/GSTNDETAILS/version/V1_03": {
            "get": {
                "tags": [
                    "Get GSTN Details"
                ],
                "summary": "Get GSTN Details",
                "description": "Get GSTN Details for a given GST Number",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "query",
                        "description": "GSTN Number",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "User Email",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "ip_address",
                        "in": "header",
                        "description": "IP Address",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "client_id",
                        "in": "header",
                        "description": "Client ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "client_secret",
                        "in": "header",
                        "description": "Client Secret",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "username",
                        "in": "header",
                        "description": "User name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "auth-token",
                        "in": "header",
                        "description": "Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "gstin",
                        "in": "header",
                        "description": "GSTIN number",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful, Get GSTN Details.",
                        "schema": {
                            "$ref": "#/definitions/Response"
                        }
                    },
                    "404": {
                        "description": "Not Found. If requested entity is not found or if requested API is not found."
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/einvoice/type/SYNC_GSTIN_FROMCP/version/V1_03": {
            "get": {
                "tags": [
                    "Get Sync GSTIN From CP"
                ],
                "summary": "Get Sync GSTIN From CP",
                "description": "Get Sync GSTIN From CP Details for a given GST Number",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "query",
                        "description": "GSTN Number",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "User Email",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "ip_address",
                        "in": "header",
                        "description": "IP Address",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "client_id",
                        "in": "header",
                        "description": "Client ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "client_secret",
                        "in": "header",
                        "description": "Client Secret",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "username",
                        "in": "header",
                        "description": "User name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "auth-token",
                        "in": "header",
                        "description": "Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "gstin",
                        "in": "header",
                        "description": "GSTIN number",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful, Get Sync GSTIN From CP Details.",
                        "schema": {
                            "$ref": "#/definitions/Response"
                        }
                    },
                    "404": {
                        "description": "Not Found. If requested entity is not found or if requested API is not found."
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/einvoice/type/GETIRN/version/V1_03": {
            "get": {
                "description": "Get e-Invoice details for a given IRN. You can fetch only past 72 hours of invoices from the time of IRN generation",
                "summary": "Get EInvoice Details",
                "operationId": "gst irn",
                "deprecated": false,
                "security": [
                    {
                        "OAuth2": [
                            "read",
                            "write"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "query",
                        "description": "IRN",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "User Email",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "supplier_gstn",
                        "in": "query",
                        "description": "Supplier GSTIN, only in case E Comm. operator is getting IRN details",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "irp",
                        "in": "query",
                        "description": "e-Invoice Server Type(NIC1/NIC2),given at the time of e-Invoice generation",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ip_address",
                        "in": "header",
                        "description": "IP Address",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_id",
                        "in": "header",
                        "description": "Client ID",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_secret",
                        "in": "header",
                        "description": "Client Secret",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "username",
                        "in": "header",
                        "description": "User name",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "auth-token",
                        "in": "header",
                        "description": "Token",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gstin",
                        "in": "header",
                        "description": "GSTIN number",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found. If requested entity is not found or if requested API is not found."
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "tags": [
                    "Get EInvoice Details"
                ]
            }
        },
        "/einvoice/type/GETIRNBYDOCDETAILS/version/V1_03": {
            "get": {
                "description": "Get IRN details by Doc Details .you can fetch only past 72 hours of invoices from the time of IRN generation",
                "summary": "Get IRN details by Doc Details",
                "operationId": "Get IRN details by Doc Details",
                "deprecated": false,
                "security": [
                    {
                        "OAuth2": [
                            "read",
                            "write"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "query",
                        "description": "Document type",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "supplier_gstn",
                        "in": "query",
                        "description": "Supplier GSTIN, only in case E Comm. operator is getting IRN details",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "irp",
                        "in": "query",
                        "description": "e-Invoice Server Type(NIC1/NIC2),given at the time of e-Invoice generation",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "docnum",
                        "in": "header",
                        "description": "Document number",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "docdate",
                        "in": "header",
                        "description": "Document date (dd/MM/YYYY)",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "User Email",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ip_address",
                        "in": "header",
                        "description": "IP Address",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_id",
                        "in": "header",
                        "description": "Client ID",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_secret",
                        "in": "header",
                        "description": "Client Secret",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "username",
                        "in": "header",
                        "description": "User name",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "auth-token",
                        "in": "header",
                        "description": "Token",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gstin",
                        "in": "header",
                        "description": "GSTIN number",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found. If requested entity is not found or if requested API is not found."
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "tags": [
                    "Get IRN details by Doc Details"
                ]
            }
        },
        "/einvoice/type/GETREJECTEDIRNS/version/V1_03": {
            "get": {
                "description": "Get Rejected IRNs .IRN details will be provided for 4 days excluding the current date",
                "summary": "Get Rejected IRNs",
                "operationId": "Get Rejected IRNs",
                "deprecated": false,
                "security": [
                    {
                        "OAuth2": [
                            "read",
                            "write"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "query",
                        "description": "Date(dd/mm/yyyy)",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "supplier_gstn",
                        "in": "query",
                        "description": "Supplier GSTIN, only in case E Comm. operator is getting IRN details",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "User Email",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ip_address",
                        "in": "header",
                        "description": "IP Address",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_id",
                        "in": "header",
                        "description": "Client ID",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_secret",
                        "in": "header",
                        "description": "Client Secret",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "username",
                        "in": "header",
                        "description": "User name",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "auth-token",
                        "in": "header",
                        "description": "Token",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gstin",
                        "in": "header",
                        "description": "GSTIN number",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found. If requested entity is not found or if requested API is not found."
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "tags": [
                    "Get Rejected IRNs"
                ]
            }
        },
        "/einvoice/type/CANCEL/version/V1_03": {
            "post": {
                "description": "Cancel Invoice Reference Number. You can cancel only past 24 hours of invoices from the time of IRN generation",
                "summary": "Cancel IRN",
                "operationId": "cancel IRN .post",
                "deprecated": false,
                "security": [
                    {
                        "OAuth2": [
                            "read",
                            "write"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "description": "User Email",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "irp",
                        "in": "query",
                        "description": "e-Invoice Server Type(NIC1/NIC2),given at the time of e-Invoice generation",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ip_address",
                        "in": "header",
                        "description": "IP Address",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_id",
                        "in": "header",
                        "description": "Client ID",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_secret",
                        "in": "header",
                        "description": "Client Secret",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "username",
                        "in": "header",
                        "description": "User name",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "auth-token",
                        "in": "header",
                        "description": "Token",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gstin",
                        "in": "header",
                        "description": "GSTIN number",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserBasicDetails"
                            }
                        }
                    },
                    "description": "The user provided basic details will be used to create a random user",
                    "required": true
                },
                "responses": {
                    "404": {
                        "description": "Not Found. If requested entity is not found or if requested API is not found."
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "tags": [
                    "Cancel IRN"
                ]
            }
        },
        "/einvoice/type/GENERATE_EWAYBILL/version/V1_03": {
            "post": {
                "description": "Generate the e-waybill using Invoice Reference Number (IRN).",
                "summary": "Generate Ewaybill",
                "operationId": "Generate Ewaybill",
                "deprecated": false,
                "security": [
                    {
                        "OAuth2": [
                            "read",
                            "write"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "description": "User Email",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "irp",
                        "in": "query",
                        "description": "e-Invoice Server Type(NIC1/NIC2),given at the time of e-Invoice generation",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ip_address",
                        "in": "header",
                        "description": "IP Address",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_id",
                        "in": "header",
                        "description": "Client ID",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_secret",
                        "in": "header",
                        "description": "Client Secret",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "username",
                        "in": "header",
                        "description": "User name",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "auth-token",
                        "in": "header",
                        "description": "Token",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gstin",
                        "in": "header",
                        "description": "GSTIN number",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GernerateEwayBill"
                            }
                        }
                    },
                    "description": "The user provided basic details will be used to create a random user",
                    "required": true
                },
                "responses": {
                    "404": {
                        "description": "Not Found. If requested entity is not found or if requested API is not found."
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "tags": [
                    "Generate Ewaybill"
                ]
            }
        },
        "/einvoice/type/GETEWAYBILLIRN/version/V1_03": {
            "get": {
                "tags": [
                    "Get Ewaybill Details by IRN"
                ],
                "summary": "Get Ewaybill Details by IRN",
                "description": "Get Ewaybill Details by IRN",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "param1",
                        "in": "query",
                        "description": "IRN",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "supplier_gstn",
                        "in": "query",
                        "description": "Supplier GSTN",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "irp",
                        "in": "query",
                        "description": "e-Invoice Server Type(NIC1/NIC2),given at the time of e-Invoice generation",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "User Email",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "ip_address",
                        "in": "header",
                        "description": "IP Address",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "client_id",
                        "in": "header",
                        "description": "Client ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "client_secret",
                        "in": "header",
                        "description": "Client Secret",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "username",
                        "in": "header",
                        "description": "User name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "auth-token",
                        "in": "header",
                        "description": "Token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "gstin",
                        "in": "header",
                        "description": "GSTIN number",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful, Get Sync GSTIN From CP Details.",
                        "schema": {
                            "$ref": "#/definitions/Response"
                        }
                    },
                    "404": {
                        "description": "Not Found. If requested entity is not found or if requested API is not found."
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/einvoice/type/GENERATE/version/V1_03": {
            "post": {
                "description": "Generate Invoice Reference Number",
                "summary": "Generate IRN",
                "operationId": "generate IRN.post",
                "deprecated": false,
                "security": [
                    {
                        "OAuth2": [
                            "read",
                            "write"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "description": "User Email",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ip_address",
                        "in": "header",
                        "description": "IP Address",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_id",
                        "in": "header",
                        "description": "Client ID",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_secret",
                        "in": "header",
                        "description": "Client Secret",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "username",
                        "in": "header",
                        "description": "User name",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "auth-token",
                        "in": "header",
                        "description": "Token",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gstin",
                        "in": "header",
                        "description": "GSTIN number",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/body"
                            }
                        }
                    },
                    "description": "The user provided basic details will be used to create a random user",
                    "required": true
                },
                "responses": {
                    "404": {
                        "description": "Not Found. If requested entity is not found or if requested API is not found."
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "tags": [
                    "Generate IRN"
                ]
            }
        },
        "/einvoice/qrcode": {
            "get": {
                "tags": [
                    "Get B2C QR Code Details"
                ],
                "summary": "Get B2C QR Code Details",
                "description": "Get B2C QR Code Details",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "description": "User Email",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "ip_address",
                        "in": "header",
                        "description": "IP Address",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "client_id",
                        "in": "header",
                        "description": "Client ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "client_secret",
                        "in": "header",
                        "description": "Client Secret",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "username",
                        "in": "header",
                        "description": "User name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "sgstin",
                        "in": "header",
                        "description": "Seller GSTIN Number",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "docno",
                        "in": "header",
                        "description": "Invoice Number",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "docdate",
                        "in": "header",
                        "description": "Invoice Date (dd-MM-yyyy)",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "totinvval",
                        "in": "header",
                        "description": "Total Invoice Value",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "upiid",
                        "in": "header",
                        "description": "UPI Id",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "bankaccno",
                        "in": "header",
                        "description": "Seller Account Number",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "bankifsccode",
                        "in": "header",
                        "description": "Bank IFSC Code",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "accountholdername",
                        "in": "header",
                        "description": "Account Holder Name",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "igstamount",
                        "in": "header",
                        "description": "IGST Amount",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cgstamount",
                        "in": "header",
                        "description": "CGST Amount",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "sgstamount",
                        "in": "header",
                        "description": "SGST Amount",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "cessamount",
                        "in": "header",
                        "description": "CESS Amount",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful, Get B2C Qr Code Details.",
                        "schema": {
                            "$ref": "#/definitions/Response"
                        }
                    },
                    "404": {
                        "description": "Not Found. If requested entity is not found or if requested API is not found."
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Response": {
                "required": [
                    "header",
                    "status_cd",
                    "status_desc"
                ],
                "type": "object",
                "properties": {
                    "status_cd": {
                        "type": "string",
                        "description": "Status Code"
                    },
                    "status_desc": {
                        "type": "string",
                        "description": "Status Description"
                    },
                    "error": {
                        "$ref": "#/components/schemas/Error_Payload"
                    },
                    "header": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Header Map"
                    },
                    "data": {
                        "type": "string",
                        "description": "GST response data"
                    }
                },
                "description": "Response which contains status code and header and data"
            },
            "GernerateEwayBill": {
                "type": "object",
                "properties": {
                    "Irn": {
                        "type": "string",
                        "description": "Irn number",
                        "example": "47d7ba1814b6ca6123c780ad289b0a24e30c1baed59a7417d29a54e7b00a6bdf"
                    },
                    "Distance": {
                        "type": "number",
                        "description": "Distance",
                        "example": 100
                    },
                    "TransMode": {
                        "type": "string",
                        "description": "Transaction Mode",
                        "example": "1"
                    },
                    "TransId": {
                        "type": "string",
                        "description": "Transaction Id",
                        "example": "12AWGPV7107B1Z1"
                    },
                    "TransName": {
                        "type": "string",
                        "description": "Transaction Name",
                        "example": "trans name"
                    },
                    "TransDocDt": {
                        "type": "string",
                        "description": "Transaction Date",
                        "example": "01/08/2020"
                    },
                    "TransDocNo": {
                        "type": "string",
                        "description": "Transaction Documnet number",
                        "example": "TRAN/DOC/11"
                    },
                    "VehNo": {
                        "type": "string",
                        "description": "Vehical Number",
                        "example": "KA12ER1234"
                    },
                    "VehType": {
                        "type": "string",
                        "description": "Vehical Type",
                        "example": "R"
                    },
                    "ExpShipDtls": {
                        "type": "object",
                        "properties": {
                            "Addr1": {
                                "type": "string",
                                "description": "Address1",
                                "example": "7th block, kuvempu layout"
                            },
                            "Addr2": {
                                "type": "string",
                                "description": "Address2",
                                "example": "kuvempu layout"
                            },
                            "Loc": {
                                "type": "string",
                                "description": "Location Name",
                                "example": "Banagalore"
                            },
                            "Pin": {
                                "type": "number",
                                "description": "Pincode Number",
                                "example": 562160
                            },
                            "Stcd": {
                                "type": "string",
                                "description": "State Name",
                                "example": "29"
                            }
                        }
                    },
                    "DispDtls": {
                        "type": "object",
                        "properties": {
                            "Nm": {
                                "type": "string",
                                "description": "Name",
                                "example": "ABC company pvt ltd"
                            },
                            "Addr1": {
                                "type": "string",
                                "description": "Address1",
                                "example": "7th block, kuvempu layout"
                            },
                            "Addr2": {
                                "type": "string",
                                "description": "Address2",
                                "example": "kuvempu layout"
                            },
                            "Loc": {
                                "type": "string",
                                "description": "Location Name",
                                "example": "Banagalore"
                            },
                            "Pin": {
                                "type": "number",
                                "description": "Pincode Number",
                                "example": 562160
                            },
                            "Stcd": {
                                "type": "string",
                                "description": "State Name",
                                "example": "29"
                            }
                        }
                    }
                }
            },
            "UserBasicDetails": {
                "type": "object",
                "properties": {
                    "Irn": {
                        "type": "string",
                        "description": "Irn number",
                        "example": "a5c12dca80e743321740b001fd70953e8738d109865d28ba4013750f2046f229"
                    },
                    "CnlRsn": {
                        "type": "string",
                        "description": "Cancel Reason Number",
                        "nullable": true,
                        "example": "1"
                    },
                    "CnlRem": {
                        "type": "string",
                        "description": "Cancel Reason",
                        "example": "Wrong entry"
                    }
                }
            },
            "EwayBillCancelDetails": {
                "type": "object",
                "properties": {
                    "ewbNo": {
                        "type": "number",
                        "description": "EwayBill Number",
                        "example": 111000609282
                    },
                    "cancelRsnCode": {
                        "type": "number",
                        "description": "Cancel Reason Number",
                        "example": 2
                    },
                    "cancelRmrk": {
                        "type": "string",
                        "description": "Cancel Reason",
                        "example": "Cancelled the order"
                    }
                }
            },
            "einvoicetypeGENERATEversionV1_1_BchDtls": {
                "type": "object",
                "properties": {
                    "Nm": {
                        "type": "string",
                        "description": "Tax type",
                        "example": "123456"
                    },
                    "Expdt": {
                        "type": "string",
                        "description": "Tax type",
                        "example": "01/08/2020"
                    },
                    "wrDt": {
                        "type": "string",
                        "description": "Tax type",
                        "example": "01/09/2020"
                    }
                }
            },
            "einvoicetypeGENERATEversionV1_1_AttribDtls": {
                "type": "object",
                "properties": {
                    "Nm": {
                        "type": "string",
                        "description": "Tax type",
                        "example": "Rice"
                    },
                    "Val": {
                        "type": "string",
                        "description": "Tax type",
                        "example": "10000"
                    }
                }
            },
            "einvoicetypeGENERATEversionV1_1_TranDtls": {
                "type": "object",
                "properties": {
                    "TaxSch": {
                        "type": "string",
                        "description": "Tax type",
                        "example": "GST"
                    },
                    "SupTyp": {
                        "type": "string",
                        "description": "Supply Type",
                        "example": "B2B"
                    },
                    "RegRev": {
                        "type": "string",
                        "description": "Reg Rev",
                        "example": "N"
                    },
                    "EcmGstin": {
                        "type": "string",
                        "description": "Ecom GSTIN",
                        "nullable": true,
                        "example": null
                    },
                    "IgstOnIntra": {
                        "type": "string",
                        "description": "IGST On Intra",
                        "example": "N"
                    }
                }
            },
            "einvoicetypeGENERATEversionV1_1_DocDtls": {
                "type": "object",
                "properties": {
                    "Typ": {
                        "type": "string",
                        "description": "Type",
                        "example": "INV"
                    },
                    "No": {
                        "type": "string",
                        "description": "Invoice Number",
                        "example": "MAHI/10"
                    },
                    "Dt": {
                        "type": "string",
                        "description": "Invoice Date",
                        "example": "08/08/2020"
                    }
                }
            },
            "einvoicetypeGENERATEversionV1_1_SellerDtls": {
                "type": "object",
                "properties": {
                    "Gstin": {
                        "type": "string",
                        "description": "GST Number",
                        "example": "29AAGCB1286Q000"
                    },
                    "LglNm": {
                        "type": "string",
                        "description": "Legal Name",
                        "example": "ABC company pvt ltd"
                    },
                    "TrdNm": {
                        "type": "string",
                        "description": "Trade Name",
                        "example": "NIC Industries"
                    },
                    "Addr1": {
                        "type": "string",
                        "description": "Address1",
                        "example": "5th block, kuvempu layout"
                    },
                    "Addr2": {
                        "type": "string",
                        "description": "Address2",
                        "example": "kuvempu layout"
                    },
                    "Loc": {
                        "type": "string",
                        "description": "Location Name",
                        "example": "GANDHINAGAR"
                    },
                    "Pin": {
                        "type": "number",
                        "description": "Pincode Number",
                        "example": 560001
                    },
                    "Stcd": {
                        "type": "string",
                        "description": "State Code",
                        "example": "29"
                    },
                    "Ph": {
                        "type": "string",
                        "description": "Phone Number",
                        "example": "9000000000"
                    },
                    "Em": {
                        "type": "string",
                        "description": "Email Id",
                        "example": "abc@gmail.com"
                    }
                }
            },
            "einvoicetypeGENERATEversionV1_1_BuyerDtls": {
                "type": "object",
                "properties": {
                    "Gstin": {
                        "type": "string",
                        "description": "GST Number",
                        "example": "29AWGPV7107B1Z1"
                    },
                    "LglNm": {
                        "type": "string",
                        "description": "Legal Name",
                        "example": "XYZ company pvt ltd"
                    },
                    "TrdNm": {
                        "type": "string",
                        "description": "Trade Name",
                        "example": "XYZ Industries"
                    },
                    "Pos": {
                        "type": "string",
                        "description": "Place of Supply",
                        "example": "37"
                    },
                    "Addr1": {
                        "type": "string",
                        "description": "Address1",
                        "example": "7th block, kuvempu layout"
                    },
                    "Addr2": {
                        "type": "string",
                        "description": "Address2",
                        "example": "kuvempu layout"
                    },
                    "Loc": {
                        "type": "string",
                        "description": "Location Name",
                        "example": "GANDHINAGAR"
                    },
                    "Pin": {
                        "type": "number",
                        "description": "Pincode Number",
                        "example": 560004
                    },
                    "Stcd": {
                        "type": "string",
                        "description": "State Code",
                        "example": "29"
                    },
                    "Ph": {
                        "type": "string",
                        "description": "Phone Number",
                        "example": "9000000000"
                    },
                    "Em": {
                        "type": "string",
                        "description": "Email Id",
                        "example": "abc@gmail.com"
                    }
                }
            },
            "einvoicetypeGENERATEversionV1_1_DispDtls": {
                "type": "object",
                "properties": {
                    "Nm": {
                        "type": "string",
                        "description": "Name",
                        "example": "ABC company pvt ltd"
                    },
                    "Addr1": {
                        "type": "string",
                        "description": "Address1",
                        "example": "7th block, kuvempu layout"
                    },
                    "Addr2": {
                        "type": "string",
                        "description": "Address2",
                        "example": "kuvempu layout"
                    },
                    "Loc": {
                        "type": "string",
                        "description": "Location Name",
                        "example": "Banagalore"
                    },
                    "Pin": {
                        "type": "number",
                        "description": "Pincode Number",
                        "example": 518360
                    },
                    "Stcd": {
                        "type": "string",
                        "description": "State Name",
                        "example": "37"
                    }
                }
            },
            "einvoicetypeGENERATEversionV1_1_PayDtls": {
                "type": "object",
                "properties": {
                    "Nm": {
                        "type": "string",
                        "description": "State Name",
                        "example": "ABCDE"
                    },
                    "Accdet": {
                        "type": "string",
                        "description": "State Name",
                        "example": "5697389713210"
                    },
                    "Mode": {
                        "type": "string",
                        "description": "State Name",
                        "example": "Cash"
                    },
                    "Fininsbr": {
                        "type": "string",
                        "description": "State Name",
                        "example": "SBIN11000"
                    },
                    "Payterm": {
                        "type": "string",
                        "description": "State Name",
                        "example": "100"
                    },
                    "Payinstr": {
                        "type": "string",
                        "description": "State Name",
                        "example": "Gift"
                    },
                    "Crtrn": {
                        "type": "string",
                        "description": "State Name",
                        "example": "test"
                    },
                    "Dirdr": {
                        "type": "string",
                        "description": "State Name",
                        "example": "test"
                    },
                    "Crday": {
                        "type": "number",
                        "description": "State Name",
                        "example": 100
                    },
                    "Paidamt": {
                        "type": "number",
                        "description": "State Name",
                        "example": 10000
                    },
                    "Paymtdue": {
                        "type": "number",
                        "description": "State Name",
                        "example": 5000
                    }
                }
            },
            "einvoicetypeGENERATEversionV1_1_DocPerdDtls": {
                "type": "object",
                "properties": {
                    "InvStDt": {
                        "type": "string",
                        "description": "State Name",
                        "example": "01/08/2020"
                    },
                    "InvEndDt": {
                        "type": "string",
                        "description": "State Name",
                        "example": "01/09/2020"
                    }
                }
            },
            "einvoicetypeGENERATEversionV1_1_PrecDocDtls": {
                "type": "object",
                "properties": {
                    "InvNo": {
                        "type": "string",
                        "description": "State Name",
                        "example": "DOC/002"
                    },
                    "InvDt": {
                        "type": "string",
                        "description": "State Name",
                        "example": "01/08/2020"
                    },
                    "OthRefNo": {
                        "type": "string",
                        "description": "State Name",
                        "example": "123456"
                    }
                }
            },
            "einvoicetypeGENERATEversionV1_1_ContrDtls": {
                "type": "object",
                "properties": {
                    "RecAdvRefr": {
                        "type": "string",
                        "description": "State Name",
                        "example": "DOC/002"
                    },
                    "RecAdvDt": {
                        "type": "string",
                        "description": "State Name",
                        "example": "01/08/2020"
                    },
                    "Tendrefr": {
                        "type": "string",
                        "description": "State Name",
                        "example": "Abc001"
                    },
                    "Contrrefr": {
                        "type": "string",
                        "description": "State Name",
                        "example": "Co123"
                    },
                    "Extrefr": {
                        "type": "string",
                        "description": "State Name",
                        "example": "Yo456"
                    },
                    "Projrefr": {
                        "type": "string",
                        "description": "State Name",
                        "example": "Doc-456"
                    },
                    "Porefr": {
                        "type": "string",
                        "description": "State Name",
                        "example": "Doc-789"
                    },
                    "PoRefDt": {
                        "type": "string",
                        "description": "State Name",
                        "example": "01/08/2020"
                    }
                }
            },
            "einvoicetypeGENERATEversionV1_1_EwbDtls": {
                "type": "object",
                "properties": {
                    "Transid": {
                        "type": "string",
                        "description": "State Name",
                        "example": "12AWGPV7107B1Z1"
                    },
                    "Transname": {
                        "type": "string",
                        "description": "State Name",
                        "example": "XYZ EXPORTS"
                    },
                    "Distance": {
                        "type": "number",
                        "description": "State Name",
                        "example": 100
                    },
                    "Transdocno": {
                        "type": "string",
                        "description": "State Name",
                        "example": "DOC01"
                    },
                    "TransdocDt": {
                        "type": "string",
                        "description": "State Name",
                        "example": "01/08/2020"
                    },
                    "Vehno": {
                        "type": "string",
                        "description": "State Name",
                        "example": "ka123456"
                    },
                    "Vehtype": {
                        "type": "string",
                        "description": "State Name",
                        "example": "R"
                    },
                    "TransMode": {
                        "type": "string",
                        "description": "State Name",
                        "example": "1"
                    }
                }
            },
            "einvoicetypeGENERATEversionV1_1_ExpDtls": {
                "type": "object",
                "properties": {
                    "ShipBNo": {
                        "type": "string",
                        "description": "State Name",
                        "example": "A-248"
                    },
                    "ShipBDt": {
                        "type": "string",
                        "description": "State Name",
                        "example": "01/08/2020"
                    },
                    "Port": {
                        "type": "string",
                        "description": "State Name",
                        "example": "INABG1"
                    },
                    "RefClm": {
                        "type": "string",
                        "description": "State Name",
                        "example": "N"
                    },
                    "ForCur": {
                        "type": "string",
                        "description": "State Name",
                        "example": "AED"
                    },
                    "CntCode": {
                        "type": "string",
                        "description": "State Name",
                        "example": "AE"
                    }
                }
            },
            "einvoicetypeGENERATEversionV1_1_AddlDocDtls": {
                "type": "object",
                "properties": {
                    "Url": {
                        "type": "string",
                        "description": "State Name",
                        "example": "https://einv-apisandbox.nic.in"
                    },
                    "Docs": {
                        "type": "string",
                        "description": "State Name",
                        "example": "Test Doc"
                    },
                    "Info": {
                        "type": "string",
                        "description": "State Name",
                        "example": "Document Test"
                    }
                }
            },
            "einvoicetypeGENERATEversionV1_1_RefDtls": {
                "type": "object",
                "properties": {
                    "InvRm": {
                        "type": "string",
                        "description": "GST Number",
                        "example": "TEST"
                    },
                    "DocPerdDtls": {
                        "$ref": "#/components/schemas/einvoicetypeGENERATEversionV1_1_DocPerdDtls"
                    },
                    "PrecDocDtls": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/einvoicetypeGENERATEversionV1_1_PrecDocDtls"
                        }
                    },
                    "ContrDtls": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/einvoicetypeGENERATEversionV1_1_ContrDtls"
                        }
                    }
                }
            },
            "einvoicetypeGENERATEversionV1_1_ShipDtls": {
                "type": "object",
                "properties": {
                    "Gstin": {
                        "type": "string",
                        "description": "GST Number",
                        "example": "29AWGPV7107B1Z1"
                    },
                    "LglNm": {
                        "type": "string",
                        "description": "Legal Name",
                        "example": "CBE company pvt ltd"
                    },
                    "TrdNm": {
                        "type": "string",
                        "description": "Trade Name",
                        "example": "kuvempu layout"
                    },
                    "Addr1": {
                        "type": "string",
                        "description": "Address1",
                        "example": "7th block, kuvempu layout"
                    },
                    "Addr2": {
                        "type": "string",
                        "description": "Address2",
                        "example": "kuvempu layout"
                    },
                    "Loc": {
                        "type": "string",
                        "description": "Location Name",
                        "example": "Banagalore"
                    },
                    "Pin": {
                        "type": "number",
                        "description": "Pincode Number",
                        "example": 518360
                    },
                    "Stcd": {
                        "type": "string",
                        "description": "State Name",
                        "example": "37"
                    }
                }
            },
            "einvoicetypeGENERATEversionV1_1_ItemList": {
                "type": "object",
                "properties": {
                    "SlNo": {
                        "type": "string",
                        "description": "Serial Number",
                        "example": "1"
                    },
                    "IsServc": {
                        "type": "string",
                        "description": "Service",
                        "example": "N"
                    },
                    "PrdDesc": {
                        "type": "string",
                        "description": "Product Description",
                        "example": "Rice"
                    },
                    "HsnCd": {
                        "type": "string",
                        "description": "HSN Code",
                        "example": "1001"
                    },
                    "Barcde": {
                        "type": "string",
                        "description": "Bar Code",
                        "example": "123456"
                    },
                    "BchDtls": {
                        "$ref": "#/components/schemas/einvoicetypeGENERATEversionV1_1_BchDtls"
                    },
                    "Qty": {
                        "type": "number",
                        "description": "Quntity",
                        "example": 100.345
                    },
                    "FreeQty": {
                        "type": "number",
                        "description": "Free Quntity",
                        "example": 10
                    },
                    "Unit": {
                        "type": "string",
                        "description": "Units Of Measurment",
                        "example": "NOS"
                    },
                    "UnitPrice": {
                        "type": "number",
                        "description": "Unit Price",
                        "example": 99.545
                    },
                    "TotAmt": {
                        "type": "number",
                        "description": "Total Amount",
                        "example": 9988.84
                    },
                    "Discount": {
                        "type": "number",
                        "description": "Discount",
                        "example": 10
                    },
                    "PreTaxVal": {
                        "type": "number",
                        "description": "Discount",
                        "example": 1
                    },
                    "AssAmt": {
                        "type": "number",
                        "description": "Assesment Amount",
                        "example": 9978.84
                    },
                    "GstRt": {
                        "type": "number",
                        "description": "gst Rate",
                        "nullable": true,
                        "example": 12
                    },
                    "SgstAmt": {
                        "type": "number",
                        "description": "Sgst Rate",
                        "example": 0
                    },
                    "IgstAmt": {
                        "type": "number",
                        "description": "Igst Rate",
                        "example": 1197.46
                    },
                    "CgstAmt": {
                        "type": "number",
                        "description": "Cgst Rate",
                        "example": 0
                    },
                    "CesRt": {
                        "type": "number",
                        "description": "Cess Rate",
                        "example": 5
                    },
                    "CesAmt": {
                        "type": "number",
                        "description": "Cess Amount",
                        "example": 498.94
                    },
                    "CesNonAdvlAmt": {
                        "type": "number",
                        "description": "CesNonAd value",
                        "example": 10
                    },
                    "StateCesRt": {
                        "type": "number",
                        "description": "State Cess Rate",
                        "example": 12
                    },
                    "StateCesAmt": {
                        "type": "number",
                        "description": "State Cess Amount",
                        "example": 1197.46
                    },
                    "StateCesNonAdvlAmt": {
                        "type": "number",
                        "description": "State Cess none advance Amount",
                        "example": 5
                    },
                    "OthChrg": {
                        "type": "number",
                        "description": "Other Charges",
                        "example": 10
                    },
                    "TotItemVal": {
                        "type": "number",
                        "description": "Total Item Value",
                        "example": 12897.7
                    },
                    "OrdLineRef": {
                        "type": "string",
                        "description": "Total Item Value",
                        "example": "3256"
                    },
                    "OrgCntry": {
                        "type": "string",
                        "description": "Total Item Value",
                        "example": "AG"
                    },
                    "PrdSlNo": {
                        "type": "string",
                        "description": "Total Item Value",
                        "example": "12345"
                    },
                    "AttribDtls": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/einvoicetypeGENERATEversionV1_1_AttribDtls"
                        }
                    }
                }
            },
            "einvoicetypeGENERATEversionV1_1_ValDtls": {
                "type": "object",
                "properties": {
                    "AssVal": {
                        "type": "number",
                        "description": "Assestment Val",
                        "example": 9978.84
                    },
                    "CgstVal": {
                        "type": "number",
                        "description": "Cgst Value",
                        "example": 0
                    },
                    "SgstVal": {
                        "type": "number",
                        "description": "Sgst Value",
                        "example": 0
                    },
                    "IgstVal": {
                        "type": "number",
                        "description": "Igst Value",
                        "example": 1197.46
                    },
                    "CesVal": {
                        "type": "number",
                        "description": "Cess Value",
                        "example": 508.94
                    },
                    "StCesVal": {
                        "type": "number",
                        "description": "StCess Value",
                        "example": 1202.46
                    },
                    "Discount": {
                        "type": "number",
                        "description": "StCess Value",
                        "example": 10
                    },
                    "OthChrg": {
                        "type": "number",
                        "description": "StCess Value",
                        "example": 20
                    },
                    "RndOffAmt": {
                        "type": "number",
                        "description": "Round off",
                        "example": 0.3
                    },
                    "TotInvVal": {
                        "type": "number",
                        "description": "Total Invoice Value",
                        "example": 12908
                    },
                    "TotInvValFc": {
                        "type": "number",
                        "description": "StCess Value",
                        "example": 12897.7
                    }
                }
            },
            "body": {
                "type": "object",
                "properties": {
                    "Version": {
                        "type": "string",
                        "description": "Version Type",
                        "example": "1.1"
                    },
                    "TranDtls": {
                        "$ref": "#/components/schemas/einvoicetypeGENERATEversionV1_1_TranDtls"
                    },
                    "DocDtls": {
                        "$ref": "#/components/schemas/einvoicetypeGENERATEversionV1_1_DocDtls"
                    },
                    "SellerDtls": {
                        "$ref": "#/components/schemas/einvoicetypeGENERATEversionV1_1_SellerDtls"
                    },
                    "BuyerDtls": {
                        "$ref": "#/components/schemas/einvoicetypeGENERATEversionV1_1_BuyerDtls"
                    },
                    "DispDtls": {
                        "$ref": "#/components/schemas/einvoicetypeGENERATEversionV1_1_DispDtls"
                    },
                    "ShipDtls": {
                        "$ref": "#/components/schemas/einvoicetypeGENERATEversionV1_1_ShipDtls"
                    },
                    "ItemList": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/einvoicetypeGENERATEversionV1_1_ItemList"
                        }
                    },
                    "ValDtls": {
                        "$ref": "#/components/schemas/einvoicetypeGENERATEversionV1_1_ValDtls"
                    },
                    "PayDtls": {
                        "$ref": "#/components/schemas/einvoicetypeGENERATEversionV1_1_PayDtls"
                    },
                    "RefDtls": {
                        "$ref": "#/components/schemas/einvoicetypeGENERATEversionV1_1_RefDtls"
                    },
                    "AddlDocDtls": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/einvoicetypeGENERATEversionV1_1_AddlDocDtls"
                        }
                    },
                    "ExpDtls": {
                        "$ref": "#/components/schemas/einvoicetypeGENERATEversionV1_1_ExpDtls"
                    },
                    "EwbDtls": {
                        "$ref": "#/components/schemas/einvoicetypeGENERATEversionV1_1_EwbDtls"
                    }
                }
            }
        },
        "requestBodies": {},
        "links": {
            "GetUserById": {
                "description": "Retrieve the user with GET /users/{user_id} API using `id` from the response body",
                "operationId": "users.get",
                "parameters": {
                    "user_id": "$response.body#/id"
                }
            }
        }
    }
}