{
    "openapi": "3.0.0",
    "info": {
        "version": "1.0",
        "title": "GST-API",
        "description": "GST-API"
    },
    "security": [
        {
            "OAuth2": [
                "read"
            ]
        }
    ],
    "servers": [
        {
            "url": "https://apisandbox.whitebooks.in"
        }
    ],
    "basePath": "/",
    "tags": [
        {
            "name": "Public",
            "description": "Public API"
        },
        {
            "name": "Authentication",
            "description": "Authentication API"
        },
        {
            "name": "GSTR",
            "description": "GSTR API"
        },
        {
            "name": "GSTR1",
            "description": "GSTR1 API"
        },
        {
            "name": "GSTR1A",
            "description": "GSTR1A API"
        },
        {
            "name": "GSTR2A",
            "description": "GSTR2A API"
        },
        {
            "name": "GSTR2B",
            "description": "GSTR2B API"
        },
        {
            "name": "GSTR2X",
            "description": "GSTR2X API"
        },
        {
            "name": "GSTR3B",
            "description": "GSTR3B API"
        },
        {
            "name": "GSTR4",
            "description": "GSTR4 API"
        },
        {
            "name": "GSTR4A",
            "description": "GSTR4A API"
        },
        {
            "name": "GSTR4Annual",
            "description": "GSTR4Annual API"
        },
        {
            "name": "GSTR5",
            "description": "GSTR5 API"
        },
        {
            "name": "GSTR6",
            "description": "GSTR6 API"
        },
        {
            "name": "GSTR6A",
            "description": "GSTR6A API"
        },
        {
            "name": "GSTR7",
            "description": "GSTR7 API"
        },
        {
            "name": "GSTR8",
            "description": "GSTR8 API"
        },
        {
            "name": "GSTR9",
            "description": "GSTR9 API"
        },
        {
            "name": "GSTR9A",
            "description": "GSTR9A API"
        },
        {
            "name": "GSTR9C",
            "description": "GSTR9C API"
        },
        {
            "name": "SPIKE",
            "description": "SPIKE API"
        },
        {
            "name": "ALL",
            "description": "All API Overview"
        },
        {
            "name": "ITC03",
            "description": "ITC03 API"
        },
        {
            "name": "ITC04",
            "description": "ITC04 API"
        },
        {
            "name": "CMP",
            "description": "CMP API"
        },
        {
            "name": "Payment",
            "description": "Payment API"
        },
        {
            "name": "Ledger",
            "description": "GST Ledger"
        },
        {
            "name": "e-Invoice",
            "description": "e-Invoice API"
        }
    ],
    "paths": {
        "/public/search": {
            "get": {
                "tags": [
                    "Public"
                ],
                "summary": "Search Taxpayer",
                "description": "This API will be used to search taxpayer details",
                "operationId": "searchTaxpayer",
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "description": "User Email",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gstin",
                        "in": "query",
                        "description": "GSTIN of the taxpayer",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_id",
                        "in": "header",
                        "description": "Client ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_secret",
                        "in": "header",
                        "description": "Client Secret",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found. If requested entity is not found or if requested API is not found."
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/public/rettrack": {
            "get": {
                "tags": [
                    "Public"
                ],
                "summary": "View and Track Returns",
                "description": "To view and track Returns status ",
                "operationId": "getViewandTrackReturns",
                "parameters": [
                    {
                        "name": "gstin",
                        "in": "query",
                        "description": "GSTIN of the taxpayer",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fy",
                        "in": "query",
                        "description": "Financial Year (YYYY-YY)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Return Type Sample Value(R1)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Email",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_id",
                        "in": "header",
                        "description": "Client ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_secret",
                        "in": "header",
                        "description": "Client Secret",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found. If requested entity is not found or if requested API is not found."
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/public/pref": {
            "get": {
                "tags": [
                    "Public"
                ],
                "summary": "Get Preference",
                "description": "This API is called for get Preference",
                "operationId": "getPreference",
                "parameters": [
                    {
                        "name": "gstin",
                        "in": "query",
                        "description": "GSTIN of the taxpayer",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fy",
                        "in": "query",
                        "description": "Financial Year (YYYY-YY)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Email",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "state_cd",
                        "in": "header",
                        "description": "State Code",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ip_address",
                        "in": "header",
                        "description": "IP Address",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_id",
                        "in": "header",
                        "description": "Client ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_secret",
                        "in": "header",
                        "description": "Client Secret",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found. If requested entity is not found or if requested API is not found."
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/public/unregistered-applicants": {
            "get": {
                "tags": [
                    "Public"
                ],
                "summary": "Unregistered Applicants API",
                "description": "This API is called to fetch details of the URD for e-commerce supplier",
                "operationId": "unregisteredApplicants",
                "parameters": [
                    {
                        "name": "uid",
                        "in": "query",
                        "description": "UID of the Unregistered Applicants",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Email",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ip_address",
                        "in": "header",
                        "description": "IP Address",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_id",
                        "in": "header",
                        "description": "Client ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_secret",
                        "in": "header",
                        "description": "Client Secret",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found. If requested entity is not found or if requested API is not found."
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/public/unregistered-applicants-validation": {
            "get": {
                "tags": [
                    "Public"
                ],
                "summary": "Unregistered Applicants Validation",
                "description": "This API is called validate Mobile Number and Email Address of unregistered applicants",
                "operationId": "unregisteredApplicantsValidation",
                "parameters": [
                    {
                        "name": "uid",
                        "in": "query",
                        "description": "EnrolmentId of Unregistered Applicants",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ecomEmail",
                        "in": "query",
                        "description": "Email of Unregistered Applicant used in E-Comerce website",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "mobile",
                        "in": "query",
                        "description": "Mobile Number of Unregistered Applicant used in E-Comerce website",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Email",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ip_address",
                        "in": "header",
                        "description": "IP Address",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_id",
                        "in": "header",
                        "description": "Client ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_secret",
                        "in": "header",
                        "description": "Client Secret",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found. If requested entity is not found or if requested API is not found."
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/authentication/otprequest": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Request for OTP",
                "description": "Tax payer and tax consultant using GSP application will be authenticated asynchronously using OTP. OTP Request API is used by the GSP to initiate the issue of OTP to tax payer.After the successful verification of request parameters, GST system sends the OTP to the taxpayer's primary business credentials through Email and SMS",
                "operationId": "otpRequest",
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "description": "User Email",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gst_username",
                        "in": "header",
                        "description": "GST UserName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "state_cd",
                        "in": "header",
                        "description": "State Code",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ip_address",
                        "in": "header",
                        "description": "IP Address",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_id",
                        "in": "header",
                        "description": "Client ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_secret",
                        "in": "header",
                        "description": "Client Secret",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found. If requested entity is not found or if requested API is not found."
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/authentication/authtoken": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Request for Authorization Token",
                "description": "Tax payer and tax consultant using GSP application will be authenticated asynchronously using OTP. OTP Request API is used by the GSP to initiate the issue of OTP to tax payer.After the successful verification of request parameters, GST system sends the OTP to the taxpayer's primary business credentials through Email and SMS",
                "operationId": "authtoken",
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "description": "User Email",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "otp",
                        "in": "query",
                        "description": "GST User Recived OTP,Default OTP for SandBox is 575757",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gst_username",
                        "in": "header",
                        "description": "GST UserName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "state_cd",
                        "in": "header",
                        "description": "State Code",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ip_address",
                        "in": "header",
                        "description": "IP Address",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "txn",
                        "in": "header",
                        "description": "Transaction",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_id",
                        "in": "header",
                        "description": "Client ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_secret",
                        "in": "header",
                        "description": "Client Secret",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found. If requested entity is not found or if requested API is not found."
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/authentication/refreshtoken": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Request for extension of authorization token",
                "description": "Refresh token can be used by GSP to extend access through Authorization code and allow for access to data on behalf of tax payer / tax consultant without user intervention.",
                "operationId": "refreshToken",
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "description": "User Email",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gst_username",
                        "in": "header",
                        "description": "GST UserName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "state_cd",
                        "in": "header",
                        "description": "State Code",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ip_address",
                        "in": "header",
                        "description": "IP Address",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "txn",
                        "in": "header",
                        "description": "Transaction",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_id",
                        "in": "header",
                        "description": "Client ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_secret",
                        "in": "header",
                        "description": "Client Secret",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found. If requested entity is not found or if requested API is not found."
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/authentication/logout": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Request for logout",
                "description": "Request for user logout.",
                "operationId": "logout",
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "description": "User Email",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gst_username",
                        "in": "header",
                        "description": "GST UserName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "state_cd",
                        "in": "header",
                        "description": "State Code",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ip_address",
                        "in": "header",
                        "description": "IP Address",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "txn",
                        "in": "header",
                        "description": "Transaction",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_id",
                        "in": "header",
                        "description": "Client ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_secret",
                        "in": "header",
                        "description": "Client Secret",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found. If requested entity is not found or if requested API is not found."
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/authentication/otpforevc": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Initiate OTP for EVC",
                "description": "This API is used to send OTP to the users for filing through EVC.",
                "operationId": "otpforevc",
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "description": "User Email",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gstin",
                        "in": "query",
                        "description": "GSTIN of the taxpayer",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pan",
                        "in": "query",
                        "description": "Pan number of the authorised signatory",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "form_type",
                        "in": "query",
                        "description": "Form Number",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gst_username",
                        "in": "header",
                        "description": "GST UserName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "state_cd",
                        "in": "header",
                        "description": "State Code",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ip_address",
                        "in": "header",
                        "description": "IP Address",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "txn",
                        "in": "header",
                        "description": "Transaction",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_id",
                        "in": "header",
                        "description": "Client ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_secret",
                        "in": "header",
                        "description": "Client Secret",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found. If requested entity is not found or if requested API is not found."
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/gstr1/retsum": {
            "get": {
                "tags": [
                    "GSTR1"
                ],
                "summary": "Get GSTR1 Summary",
                "description": "Get the table wise summary of GSTR1 data.",
                "operationId": "getGSTR1Summary",
                "parameters": [
                    {
                        "name": "gstin",
                        "in": "query",
                        "description": "GSTIN of the taxpayer",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "retperiod",
                        "in": "query",
                        "description": "Return Period format MMYYYY",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Email",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "smrytyp",
                        "in": "query",
                        "description": "Default Summary is Short Summary,If long summary is required, smrytyp parameter should be passed along with value L",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gst_username",
                        "in": "header",
                        "description": "GST UserName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "state_cd",
                        "in": "header",
                        "description": "State Code",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ip_address",
                        "in": "header",
                        "description": "IP Address",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "txn",
                        "in": "header",
                        "description": "Transaction",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_id",
                        "in": "header",
                        "description": "Client ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_secret",
                        "in": "header",
                        "description": "Client Secret",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found. If requested entity is not found or if requested API is not found."
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/gstr1/dociss": {
            "get": {
                "tags": [
                    "GSTR1"
                ],
                "summary": "Get GSTR1 Document Issued",
                "description": "Get the Document Issued details of GSTR1 data.",
                "operationId": "getDocIssued",
                "parameters": [
                    {
                        "name": "gstin",
                        "in": "query",
                        "description": "GSTIN of the taxpayer",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "retperiod",
                        "in": "query",
                        "description": "Return Period format MMYYYY",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Email",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gst_username",
                        "in": "header",
                        "description": "GST UserName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "state_cd",
                        "in": "header",
                        "description": "State Code",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ip_address",
                        "in": "header",
                        "description": "IP Address",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "txn",
                        "in": "header",
                        "description": "Transaction",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_id",
                        "in": "header",
                        "description": "Client ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_secret",
                        "in": "header",
                        "description": "Client Secret",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found. If requested entity is not found or if requested API is not found."
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/gstr1/cdnra": {
            "get": {
                "tags": [
                    "GSTR1"
                ],
                "summary": "Get CDNRA Invoices",
                "description": "Will call CDNRA for getting all amended Credit/Debit notes for a return period.",
                "operationId": "getCDNRAInvoices",
                "parameters": [
                    {
                        "name": "actionrequired",
                        "in": "query",
                        "description": "Status filter for filtering the invoices. Action_required = Y, fetches the invoices where tax payer need to take action (Accept/Reject). Already accepted or uploaded invoices can be fetched by using action_required=N filter.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gstin",
                        "in": "query",
                        "description": "GSTIN of the taxpayer",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "retperiod",
                        "in": "query",
                        "description": "Return Period format MMYYYY",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Email",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gst_username",
                        "in": "header",
                        "description": "GST UserName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "state_cd",
                        "in": "header",
                        "description": "State Code",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ip_address",
                        "in": "header",
                        "description": "IP Address",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "txn",
                        "in": "header",
                        "description": "Transaction",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_id",
                        "in": "header",
                        "description": "Client ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_secret",
                        "in": "header",
                        "description": "Client Secret",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found. If requested entity is not found or if requested API is not found."
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/gstr/retstatus": {
            "get": {
                "tags": [
                    "GSTR"
                ],
                "summary": "Get Return Status",
                "description": "Get the status of the Returns submitted",
                "operationId": "getReturnStatus",
                "parameters": [
                    {
                        "name": "gstin",
                        "in": "query",
                        "description": "GSTIN of the taxpayer",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "returnperiod",
                        "in": "query",
                        "description": "Return Period",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "refid",
                        "in": "query",
                        "description": "Reference ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Email",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gst_username",
                        "in": "header",
                        "description": "GST UserName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "state_cd",
                        "in": "header",
                        "description": "State Code",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ip_address",
                        "in": "header",
                        "description": "IP Address",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "txn",
                        "in": "header",
                        "description": "Transaction",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_id",
                        "in": "header",
                        "description": "Client ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_secret",
                        "in": "header",
                        "description": "Client Secret",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found. If requested entity is not found or if requested API is not found."
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/gstr/rettrack": {
            "get": {
                "tags": [
                    "GSTR"
                ],
                "summary": "View and Track Returns",
                "description": "To view and track Returns status ",
                "operationId": "getViewandTrackReturns",
                "parameters": [
                    {
                        "name": "gstin",
                        "in": "query",
                        "description": "GSTIN of the taxpayer",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "returnperiod",
                        "in": "query",
                        "description": "Return Period",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Return Type Sample Value(R1)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Email",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gst_username",
                        "in": "header",
                        "description": "GST UserName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "state_cd",
                        "in": "header",
                        "description": "State Code",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ip_address",
                        "in": "header",
                        "description": "IP Address",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "txn",
                        "in": "header",
                        "description": "Transaction",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_id",
                        "in": "header",
                        "description": "Client ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_secret",
                        "in": "header",
                        "description": "Client Secret",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found. If requested entity is not found or if requested API is not found."
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/gstr1/b2cl": {
            "get": {
                "tags": [
                    "GSTR1"
                ],
                "summary": "Get B2CL Invoices",
                "description": "Getting all B2C Large invoices for a return period..",
                "operationId": "getB2CLInvoices",
                "parameters": [
                    {
                        "name": "statecd",
                        "in": "query",
                        "description": "State code",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gstin",
                        "in": "query",
                        "description": "GSTIN of the taxpayer",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "retperiod",
                        "in": "query",
                        "description": "Return Period format MMYYYY",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Email",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gst_username",
                        "in": "header",
                        "description": "GST UserName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "state_cd",
                        "in": "header",
                        "description": "State Code",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ip_address",
                        "in": "header",
                        "description": "IP Address",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "txn",
                        "in": "header",
                        "description": "Transaction",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_id",
                        "in": "header",
                        "description": "Client ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_secret",
                        "in": "header",
                        "description": "Client Secret",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found. If requested entity is not found or if requested API is not found."
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/gstr1/b2ba": {
            "get": {
                "tags": [
                    "GSTR1"
                ],
                "summary": "Get B2BA Invoices",
                "description": "Getting all B2BA invoices for a return period.",
                "operationId": "getB2BAInvoices",
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Email",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "actionrequired",
                        "in": "query",
                        "description": "Status filter for filtering the invoices. Action_required = Y, fetches the invoices where tax payer need to take action (Accept/Reject). Already accepted or uploaded invoices can be fetched by using action_required=N filter.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gstin",
                        "in": "query",
                        "description": "GSTIN of the taxpayer",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "retperiod",
                        "in": "query",
                        "description": "Return Period format MMYYYY",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ctin",
                        "in": "query",
                        "description": "CTIN of the taxpayer",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gst_username",
                        "in": "header",
                        "description": "GST UserName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "state_cd",
                        "in": "header",
                        "description": "State Code",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ip_address",
                        "in": "header",
                        "description": "IP Address",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "txn",
                        "in": "header",
                        "description": "Transaction",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_id",
                        "in": "header",
                        "description": "Client ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_secret",
                        "in": "header",
                        "description": "Client Secret",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found. If requested entity is not found or if requested API is not found."
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/gstr1/ata": {
            "get": {
                "tags": [
                    "GSTR1"
                ],
                "summary": "Get ATA",
                "description": "Getting amended advance tax details for a return period.",
                "operationId": "getATA",
                "parameters": [
                    {
                        "name": "gstin",
                        "in": "query",
                        "description": "GSTIN of the taxpayer",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "retperiod",
                        "in": "query",
                        "description": "Return Period format MMYYYY",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Email",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gst_username",
                        "in": "header",
                        "description": "GST UserName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "state_cd",
                        "in": "header",
                        "description": "State Code",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ip_address",
                        "in": "header",
                        "description": "IP Address",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "txn",
                        "in": "header",
                        "description": "Transaction",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_id",
                        "in": "header",
                        "description": "Client ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_secret",
                        "in": "header",
                        "description": "Client Secret",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found. If requested entity is not found or if requested API is not found."
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/gstr1/txp": {
            "get": {
                "tags": [
                    "GSTR1"
                ],
                "summary": "Get TXP",
                "description": "Getting tax paid details for a return period.",
                "operationId": "getTXP",
                "parameters": [
                    {
                        "name": "gstin",
                        "in": "query",
                        "description": "GSTIN of the taxpayer",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "retperiod",
                        "in": "query",
                        "description": "Return Period format MMYYYY",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Email",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gst_username",
                        "in": "header",
                        "description": "GST UserName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "state_cd",
                        "in": "header",
                        "description": "State Code",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ip_address",
                        "in": "header",
                        "description": "IP Address",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "txn",
                        "in": "header",
                        "description": "Transaction",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_id",
                        "in": "header",
                        "description": "Client ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_secret",
                        "in": "header",
                        "description": "Client Secret",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found. If requested entity is not found or if requested API is not found."
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/gstr1/retsave": {
            "put": {
                "tags": [
                    "GSTR1"
                ],
                "summary": "Save GSTR1 data",
                "description": "Used to save entire GSTR1 invoices.",
                "operationId": "saveGSTR1",
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "description": "User Email",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gstin",
                        "in": "header",
                        "description": "GST Number",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ret_period",
                        "in": "header",
                        "description": "Return Period (MMYYYY)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gst_username",
                        "in": "header",
                        "description": "GST UserName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "state_cd",
                        "in": "header",
                        "description": "State Code",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ip_address",
                        "in": "header",
                        "description": "IP Address",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "txn",
                        "in": "header",
                        "description": "Transaction",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_id",
                        "in": "header",
                        "description": "Client ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "client_secret",
                        "in": "header",
                        "description": "Client Secret",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Request Payload",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "gstin": {
                                        "type": "string",
                                        "description": "GSTIN number",
                                        "example": "27AHQPA7588L1ZJ"
                                    },
                                    "fp": {
                                        "type": "string",
                                        "description": "Fp Type",
                                        "example": "122016"
                                    },
                                    "gt": {
                                        "type": "number",
                                        "description": "gt Type",
                                        "example": 3782969.01
                                    },
                                    "cur_gt": {
                                        "type": "number",
                                        "description": "Document Number (Alphanumeric with / and - are allowed)",
                                        "example": 3782969.01
                                    },
                                    "b2b": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "ctin": {
                                                    "type": "string",
                                                    "description": "Challan Temporary Identification Number",
                                                    "example": "01AABCE2207R1Z5"
                                                },
                                                "inv": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "inum": {
                                                                "type": "string",
                                                                "description": "Invoice Number",
                                                                "example": "S008400"
                                                            },
                                                            "idt": {
                                                                "type": "string",
                                                                "description": "Invoice Date",
                                                                "example": "24-11-2016"
                                                            },
                                                            "val": {
                                                                "type": "number",
                                                                "description": "Invoice Value",
                                                                "example": 729248.16
                                                            },
                                                            "pos": {
                                                                "type": "string",
                                                                "description": "Place of Supply",
                                                                "example": "06"
                                                            },
                                                            "rchrg": {
                                                                "type": "string",
                                                                "description": "Reverse Charge",
                                                                "example": "N"
                                                            },
                                                            "etin": {
                                                                "type": "string",
                                                                "description": "etin Number",
                                                                "example": "01AABCE5507R1C4"
                                                            },
                                                            "inv_typ": {
                                                                "type": "string",
                                                                "description": "Invoice Type",
                                                                "example": "R"
                                                            },
                                                            "diff_percent": {
                                                                "type": "number",
                                                                "description": "Differencial Percentage",
                                                                "example": 0.65
                                                            },
                                                            "itms": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "num": {
                                                                            "type": "number",
                                                                            "description": "number",
                                                                            "example": 1
                                                                        },
                                                                        "itm_det": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "rt": {
                                                                                    "type": "number",
                                                                                    "description": "item Rate",
                                                                                    "example": 5
                                                                                },
                                                                                "txval": {
                                                                                    "type": "number",
                                                                                    "description": "Taxable Value",
                                                                                    "example": 10000
                                                                                },
                                                                                "iamt": {
                                                                                    "type": "number",
                                                                                    "description": "igst Amount",
                                                                                    "example": 325
                                                                                },
                                                                                "csamt": {
                                                                                    "type": "number",
                                                                                    "description": "Cess Amount",
                                                                                    "example": 500
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "b2ba": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "ctin": {
                                                    "type": "string",
                                                    "description": "Challan Temporary Identification Number",
                                                    "example": "01AABCE2207R1Z5"
                                                },
                                                "inv": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "oinum": {
                                                                "type": "string",
                                                                "description": "Original Invoice Number",
                                                                "example": "S008400"
                                                            },
                                                            "oidt": {
                                                                "type": "string",
                                                                "description": "Original Invoice Date",
                                                                "example": "24-11-2016"
                                                            },
                                                            "inum": {
                                                                "type": "string",
                                                                "description": "Invoice Number",
                                                                "example": "S008400"
                                                            },
                                                            "idt": {
                                                                "type": "string",
                                                                "description": "Invoice Date",
                                                                "example": "24-11-2016"
                                                            },
                                                            "val": {
                                                                "type": "number",
                                                                "description": "Invoice Amount",
                                                                "example": 729248.16
                                                            },
                                                            "pos": {
                                                                "type": "string",
                                                                "description": "Place Of Supply",
                                                                "example": "06"
                                                            },
                                                            "rchrg": {
                                                                "type": "string",
                                                                "description": "Reverse Charge",
                                                                "example": "N"
                                                            },
                                                            "etin": {
                                                                "type": "string",
                                                                "description": "etin number",
                                                                "example": "01AABCE5507R1C4"
                                                            },
                                                            "inv_typ": {
                                                                "type": "string",
                                                                "description": "Invoice Type",
                                                                "example": "R"
                                                            },
                                                            "diff_percent": {
                                                                "type": "number",
                                                                "description": "Differencial Percentage",
                                                                "example": 0.65
                                                            },
                                                            "itms": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "num": {
                                                                            "type": "number",
                                                                            "description": "number",
                                                                            "example": 1
                                                                        },
                                                                        "itm_det": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "rt": {
                                                                                    "type": "number",
                                                                                    "description": "item Rate",
                                                                                    "example": 5
                                                                                },
                                                                                "txval": {
                                                                                    "type": "number",
                                                                                    "description": "Taxable Value",
                                                                                    "example": 10000
                                                                                },
                                                                                "iamt": {
                                                                                    "type": "number",
                                                                                    "description": "Igst Amount",
                                                                                    "example": 325
                                                                                },
                                                                                "camt": {
                                                                                    "type": "number",
                                                                                    "description": "CGST Amount",
                                                                                    "example": 0
                                                                                },
                                                                                "samt": {
                                                                                    "type": "number",
                                                                                    "description": "SGST Amount",
                                                                                    "example": 0
                                                                                },
                                                                                "csamt": {
                                                                                    "type": "number",
                                                                                    "description": "Cess Amount",
                                                                                    "example": 500
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "b2cl": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "pos": {
                                                    "type": "string",
                                                    "description": "Place Of Supply",
                                                    "example": "05"
                                                },
                                                "inv": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "inum": {
                                                                "type": "string",
                                                                "description": "Invoice Number",
                                                                "example": "92661"
                                                            },
                                                            "idt": {
                                                                "type": "string",
                                                                "description": "Invoice Date",
                                                                "example": "10-01-2016"
                                                            },
                                                            "val": {
                                                                "type": "number",
                                                                "description": "Invoice Value",
                                                                "example": 784586.33
                                                            },
                                                            "inv_typ": {
                                                                "type": "string",
                                                                "description": "Invoice Type",
                                                                "example": "CBW"
                                                            },
                                                            "etin": {
                                                                "type": "string",
                                                                "description": "etin",
                                                                "example": "27AHQPA8875L1CU"
                                                            },
                                                            "diff_percent": {
                                                                "type": "number",
                                                                "description": "Differencial Percentage",
                                                                "example": 0.65
                                                            },
                                                            "itms": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "num": {
                                                                            "type": "number",
                                                                            "description": "item number",
                                                                            "example": 1
                                                                        },
                                                                        "itm_det": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "rt": {
                                                                                    "type": "number",
                                                                                    "description": "rate",
                                                                                    "example": 5
                                                                                },
                                                                                "txval": {
                                                                                    "type": "number",
                                                                                    "description": "Taxable Value",
                                                                                    "example": 10000
                                                                                },
                                                                                "iamt": {
                                                                                    "type": "number",
                                                                                    "description": "Igst Amount",
                                                                                    "example": 325
                                                                                },
                                                                                "csamt": {
                                                                                    "type": "number",
                                                                                    "description": "Cess Amount",
                                                                                    "example": 500
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "b2cla": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "pos": {
                                                    "type": "string",
                                                    "description": "Place of Supply",
                                                    "example": "06"
                                                },
                                                "inv": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "oinum": {
                                                                "type": "string",
                                                                "description": "Original Invoice Number",
                                                                "example": "9266"
[...]
