{
    "openapi": "3.0.0",
    "info": {
        "version": "1.0",
        "title": "E-INVOICE-API",
        "description": "E-INVOICE-API"
    },
    "security": [
        {
            "OAuth2": [
                "read"
            ]
        }
    ],
    "servers": [
        {
            "url": "https://api.mastergst.com/"
        }
    ],
    "tags": [
        {
            "name": "Compliance CSID (Certificate)",
            "description": "Compliance CSID API"
        },
        {
            "name": "Compliance Invoice",
            "description": "Compliance Invoice API"
        },
        {
            "name": "Production CSID Onboarding",
            "description": "Production CSID Onboarding API"
        },
        {
            "name": "Production CSID Renewal",
            "description": "Production CSID Renewal API"
        },
        {
            "name": "Reporting API",
            "description": "Reporting API"
        },
        {
            "name": "Clearance API",
            "description": "Clearance API"
        }
    ],
    "paths": {
        "/einvoice/compliance": {
            "post": {
                "description": "The CSR specification required to perform the Compliance API call is covered in section 4.3 of the Developer Portal user manual.",
                "summary": "Compliance Request",
                "operationId": "compliance",
                "deprecated": false,
                "security": [
                    {
                        "OAuth2": [
                            "read",
                            "write"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "OTP",
                        "in": "header",
                        "description": "OTP",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "Accept-Version",
                        "in": "header",
                        "description": "Accept-Version",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ComplianceAPI"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful response."
                    },
                    "404": {
                        "description": "HTTP Bad Request. Returned when the submitted request is invalid."
                    },
                    "500": {
                        "description": "HTTP Internal Server Error. Returned when the service faces internal errors."
                    }
                },
                "tags": [
                    "Compliance CSID (Certificate)"
                ]
            }
        },
        "/einvoice/compliance/invoices": {
            "post": {
                "description": "It performs compliance checks on einvoice documents.",
                "summary": "Compliance Invoice Request",
                "operationId": "complianceInvoice",
                "deprecated": false,
                "security": [
                    {
                        "OAuth2": [
                            "read",
                            "write"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "Auth-Key",
                        "in": "header",
                        "description": "Auth-Key",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Accept-Language",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Accept-Version",
                        "in": "header",
                        "description": "Accept-Version",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ComplianceInvoiceAPIJSON"
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/ComplianceInvoiceAPIXML"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "HTTP OK. Returned on successful validation of simplified invoice."
                    },
                    "400": {
                        "description": "HTTP Bad Request. Returned when the submitted request is invalid."
                    },
                    "401": {
                        "description": "Returned when username and password are not added or added as wrong values."
                    },
                    "500": {
                        "description": "HTTP Internal Server Error. Returned when the service faces internal errors."
                    }
                },
                "tags": [
                    "Compliance Invoice"
                ]
            }
        },
        "/einvoice/production/csids/onboardingapi": {
            "post": {
                "description": "This Production CSID is a simulation of ZATCA rootCA moreover it is used to sign einvoice documents and authenticate einvoicing api calls.",
                "summary": "Production CSID Onboarding Request",
                "operationId": "productionCSIDOnboarding",
                "deprecated": false,
                "security": [
                    {
                        "OAuth2": [
                            "read",
                            "write"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "Auth-Key",
                        "in": "header",
                        "description": "Auth-Key",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Accept-Version",
                        "in": "header",
                        "description": "Accept-Version",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProductionCSIDOnboardingAPI"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "returns a Base64 encoded X509 certificate"
                    },
                    "400": {
                        "description": "HTTP Bad Request. Returned when the submitted request is invalid."
                    },
                    "401": {
                        "description": "Returned when username and password are not added or added as wrong values."
                    },
                    "500": {
                        "description": "HTTP Internal Server Error. Returned when the service faces internal errors."
                    }
                },
                "tags": [
                    "Production CSID Onboarding"
                ]
            }
        },
        "/einvoice/production/csids/renewalapi": {
            "post": {
                "description": "Renews an X509 Certificate (CSID) based on submitted CSR.",
                "summary": "Production CSID Renewal Request",
                "operationId": "productionCSIDRenewal",
                "deprecated": false,
                "security": [
                    {
                        "OAuth2": [
                            "read",
                            "write"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "OTP",
                        "in": "header",
                        "description": "OTP",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Accept-Language",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Accept-Version",
                        "in": "header",
                        "description": "Accept-Version",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProductionCSIDRenewalAPI"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "returns a Base64 encoded X509 certificate"
                    },
                    "400": {
                        "description": "HTTP Bad Request. Returned when the submitted request is invalid."
                    },
                    "401": {
                        "description": "Returned when username and password are not added or added as wrong values."
                    },
                    "500": {
                        "description": "HTTP Internal Server Error. Returned when the service faces internal errors."
                    }
                },
                "tags": [
                    "Production CSID Renewal"
                ]
            }
        },
        "/einvoice/invoices/reporting/single": {
            "post": {
                "description": "Reports a single Invoice.",
                "summary": "Reporting API Request",
                "operationId": "reportingAPI",
                "deprecated": false,
                "security": [
                    {
                        "OAuth2": [
                            "read",
                            "write"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "Auth-Key",
                        "in": "header",
                        "description": "Auth-Key",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Accept-Language",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Clearance-Status",
                        "in": "header",
                        "description": "Clearance-Status",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Accept-Version",
                        "in": "header",
                        "description": "Accept-Version",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ReportingAPI"
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/ComplianceInvoiceAPIXML"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "returns a Base64 encoded X509 certificate"
                    },
                    "202": {
                        "description": "HTTP Accepted. Returned when the invoice is reported with warnings"
                    },
                    "400": {
                        "description": "HTTP Bad Request. Returned when the submitted request is invalid."
                    },
                    "401": {
                        "description": "Returned when username and password are not added or added as wrong values."
                    },
                    "500": {
                        "description": "HTTP Internal Server Error. Returned when the service faces internal errors."
                    }
                },
                "tags": [
                    "Reporting API"
                ]
            }
        },
        "/einvoice/invoices/clearance/single": {
            "post": {
                "description": "Clear a single Invoice.",
                "summary": "Clearance API Request",
                "operationId": "clearanceAPI",
                "deprecated": false,
                "security": [
                    {
                        "OAuth2": [
                            "read",
                            "write"
                        ]
                    }
                ],
                "parameters": [
                    {
                        "name": "Auth-Key",
                        "in": "header",
                        "description": "Auth-Key",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Accept-Language",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Clearance-Status",
                        "in": "header",
                        "description": "Clearance-Status",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Accept-Version",
                        "in": "header",
                        "description": "Accept-Version",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ClearanceAPI"
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/ComplianceInvoiceAPIXML"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "returns a Base64 encoded X509 certificate."
                    },
                    "202": {
                        "description": "HTTP Accepted. Returned when the invoice is reported with warnings."
                    },
                    "303": {
                        "description": "HTTP See Other. Returned when the submitted invoice is a Standard Invoice while clearance is deactivated."
                    },
                    "400": {
                        "description": "HTTP Bad Request. Returned when the submitted request is invalid."
                    },
                    "401": {
                        "description": "Returned when username and password are not added or added as wrong values."
                    },
                    "500": {
                        "description": "HTTP Internal Server Error. Returned when the service faces internal errors."
                    }
                },
                "tags": [
                    "Clearance API"
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "Response": {
                "required": [
                    "header",
                    "status_cd",
                    "status_desc"
                ],
                "type": "object",
                "properties": {
                    "status_cd": {
                        "type": "string",
                        "description": "Status Code"
                    },
                    "status_desc": {
                        "type": "string",
                        "description": "Status Description"
                    },
                    "error": {
                        "$ref": "#/components/schemas/Error_Payload"
                    },
                    "header": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Header Map"
                    },
                    "data": {
                        "type": "string",
                        "description": "GST response data"
                    }
                },
                "description": "Response which contains status code and header and data"
            },
            "GernerateEwayBill": {
                "type": "object",
                "properties": {
                    "Irn": {
                        "type": "string",
                        "description": "Irn number",
                        "example": "47d7ba1814b6ca6123c780ad289b0a24e30c1baed59a7417d29a54e7b00a6bdf"
                    },
                    "Distance": {
                        "type": "number",
                        "description": "Distance",
                        "example": 120
                    },
                    "TransMode": {
                        "type": "string",
                        "description": "Transaction Mode",
                        "example": "1"
                    },
                    "TransId": {
                        "type": "string",
                        "description": "Transaction Id",
                        "example": "29DPZPS4403C1ZF"
                    },
                    "TransName": {
                        "type": "string",
                        "description": "Transaction Name",
                        "example": "trans name"
                    },
                    "TransDocDt": {
                        "type": "string",
                        "description": "Transaction Date",
                        "example": "01/08/2020"
                    },
                    "TransDocNo": {
                        "type": "string",
                        "description": "Transaction Documnet number",
                        "example": "MAHIE/10"
                    },
                    "VehNo": {
                        "type": "string",
                        "description": "Vehical Number",
                        "example": "KA12ER1234"
                    },
                    "VehType": {
                        "type": "string",
                        "description": "Vehical Type",
                        "example": "R"
                    }
                }
            },
            "UserBasicDetails": {
                "type": "object",
                "properties": {
                    "Irn": {
                        "type": "string",
                        "description": "Irn number",
                        "example": "a5c12dca80e743321740b001fd70953e8738d109865d28ba4013750f2046f229"
                    },
                    "CnlRsn": {
                        "type": "string",
                        "description": "Cancel Reason Number",
                        "nullable": true,
                        "example": "1"
                    },
                    "CnlRem": {
                        "type": "string",
                        "description": "Cancel Reason",
                        "example": "Wrong entry"
                    }
                }
            },
            "ComplianceAPI": {
                "type": "object",
                "properties": {
                    "csr": {
                        "type": "string",
                        "description": "csr",
                        "example": "LS0tLS1CRUdJTiBDRVJUSUZJQ0FURSBSRVFVRVNULS0tLS0KTUlJQnl6Q0NBWElDQVFBd1R6RUxNQWtHQTFVRUJoTUNVMEV4RnpBVkJnTlZCQXNNRG1GdGJXRnVJRUp5WVc1agphR05vTVJNd0VRWURWUVFLREFwb1lYbGhJSGxoWnlBek1SSXdFQVlEVlFRRERBa3hNamN1TUM0d0xqRXdWakFRCkJnY3Foa2pPUFFJQkJnVXJnUVFBQ2dOQ0FBVGJpclluL3l2L09zSGhGbE1QdkZjUnhJM250dWsxaXd0aWxOWXUKVjIrOTVrbkRBc2hiNU9Gc0lZQ0hvL2tMMDBLdnhMczQrcytyMWc4dnFVZ3BvazhYb0lIRE1JSEFCZ2txaGtpRwo5dzBCQ1E0eGdiSXdnYTh3SkFZSkt3WUJCQUdDTnhRQ0JCY1RGVlJUVkZwQlZFTkJMVU52WkdVdFUybG5ibWx1Clp6Q0JoZ1lEVlIwUkJIOHdmYVI3TUhreEd6QVpCZ05WQkFRTUVqRXRhR0Y1WVh3eUxUSXpOSHd6TFRNMU5ERWYKTUIwR0NnbVNKb21UOGl4a0FRRU1Eek14TURFM05UTTVOelF3TURBd016RU5NQXNHQTFVRURBd0VNVEV3TURFUQpNQTRHQTFVRUdnd0hXbUYwWTJFZ016RVlNQllHQTFVRUR3d1BSbTl2WkNCQ2RYTnphVzVsYzNNek1Bb0dDQ3FHClNNNDlCQU1DQTBjQU1FUUNJQ3JyTzdtSzZWZTZNTmIrSlNJRkRmK0FGMjhqV2ZJYTNIdzlhWEdVOS9KbkFpQXIKSnBVc0h4Z1RrOGtQZTRQSnNJVGJJYXlTeUh2emZwdHFFTWZEajdQN2F3PT0KLS0tLS1FTkQgQ0VSVElGSUNBVEUgUkVRVUVTVC0tLS0t"
                    }
                }
            },
            "ComplianceInvoiceAPIJSON": {
                "type": "object",
                "properties": {
                    "Version": {
                        "type": "string",
                        "description": "Version Type",
                        "example": "1.1"
                    },
                    "TranDtls": {
                        "$ref": "#/components/schemas/einvoicetypeGENERATEversionV1_1_TranDtls"
                    },
                    "DocDtls": {
                        "$ref": "#/components/schemas/einvoicetypeGENERATEversionV1_1_DocDtls"
                    },
                    "SellerDtls": {
                        "$ref": "#/components/schemas/einvoicetypeGENERATEversionV1_1_SellerDtls"
                    },
                    "BuyerDtls": {
                        "$ref": "#/components/schemas/einvoicetypeGENERATEversionV1_1_BuyerDtls"
                    },
                    "DispDtls": {
                        "$ref": "#/components/schemas/einvoicetypeGENERATEversionV1_1_DispDtls"
                    },
                    "ShipDtls": {
                        "$ref": "#/components/schemas/einvoicetypeGENERATEversionV1_1_ShipDtls"
                    },
                    "ItemList": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/einvoicetypeGENERATEversionV1_1_ItemList"
                        }
                    },
                    "ValDtls": {
                        "$ref": "#/components/schemas/einvoicetypeGENERATEversionV1_1_ValDtls"
                    },
                    "PayDtls": {
                        "$ref": "#/components/schemas/einvoicetypeGENERATEversionV1_1_PayDtls"
                    },
                    "RefDtls": {
                        "$ref": "#/components/schemas/einvoicetypeGENERATEversionV1_1_RefDtls"
                    },
                    "AddlDocDtls": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/einvoicetypeGENERATEversionV1_1_AddlDocDtls"
                        }
                    },
                    "ExpDtls": {
                        "$ref": "#/components/schemas/einvoicetypeGENERATEversionV1_1_ExpDtls"
                    },
                    "EwbDtls": {
                        "$ref": "#/components/schemas/einvoicetypeGENERATEversionV1_1_EwbDtls"
                    }
                }
            },
            "ComplianceInvoiceAPIXML": {
                "type": "object",
                "properties": {
                    "Invoice": {
                        "UBLExtensions": {
                            "UBLExtension": {
                                "ExtensionURI": {
                                    "__prefix": "ext",
                                    "__text": "urn:oasis:names:specification:ubl:dsig:enveloped:xades"
                                },
                                "ExtensionContent": {
                                    "UBLDocumentSignatures": {
                                        "SignatureInformation": {
                                            "ID": {
                                                "__prefix": "cbc",
                                                "__text": "urn:oasis:names:specification:ubl:signature:1"
                                            },
                                            "ReferencedSignatureID": {
                                                "__prefix": "sbc",
                                                "__text": "urn:oasis:names:specification:ubl:signature:Invoice"
                                            },
                                            "Signature": {
                                                "SignedInfo": {
                                                    "CanonicalizationMethod": {
                                                        "_Algorithm": "http://www.w3.org/2006/12/xml-c14n11",
                                                        "__prefix": "ds"
                                                    },
                                                    "SignatureMethod": {
                                                        "_Algorithm": "http://www.w3.org/2001/04/xmldsig-more#ecdsa-sha256",
                                                        "__prefix": "ds"
                                                    },
                                                    "Reference": [
                                                        {
                                                            "Transforms": {
                                                                "Transform": [
                                                                    {
                                                                        "XPath": {
                                                                            "__prefix": "ds",
                                                                            "__text": "not(//ancestor-or-self::ext:UBLExtensions)"
                                                                        },
                                                                        "_Algorithm": "http://www.w3.org/TR/1999/REC-xpath-19991116",
                                                                        "__prefix": "ds"
                                                                    },
                                                                    {
                                                                        "XPath": {
                                                                            "__prefix": "ds",
                                                                            "__text": "not(//ancestor-or-self::cac:Signature)"
                                                                        },
                                                                        "_Algorithm": "http://www.w3.org/TR/1999/REC-xpath-19991116",
                                                                        "__prefix": "ds"
                                                                    },
                                                                    {
                                                                        "XPath": {
                                                                            "__prefix": "ds",
                                                                            "__text": "not(//ancestor-or-self::cac:AdditionalDocumentReference[cbc:ID='QR'])"
                                                                        },
                                                                        "_Algorithm": "http://www.w3.org/TR/1999/REC-xpath-19991116",
                                                                        "__prefix": "ds"
                                                                    },
                                                                    {
                                                                        "_Algorithm": "http://www.w3.org/2006/12/xml-c14n11",
                                                                        "__prefix": "ds"
                                                                    }
                                                                ],
                                                                "__prefix": "ds"
                                                            },
                                                            "DigestMethod": {
                                                                "_Algorithm": "http://www.w3.org/2001/04/xmlenc#sha256",
                                                                "__prefix": "ds"
                                                            },
                                                            "DigestValue": {
                                                                "__prefix": "ds",
                                                                "__text": "t1vEblOtMk4E3+YFofL4rYw8ARqvuvA5aQYVw6wS3BA="
                                                            },
                                                            "_Id": "invoiceSignedData",
                                                            "_URI": "",
                                                            "__prefix": "ds"
                                                        },
                                                        {
                                                            "DigestMethod": {
                                                                "_Algorithm": "http://www.w3.org/2001/04/xmldsig-more#ecdsa-sha256",
                                                                "__prefix": "ds"
                                                            },
                                                            "DigestValue": {
                                                                "__prefix": "ds",
                                                                "__text": "ZWMyZGJmYjhiMDM5Yzg1NjFjMTY4OGFjMGZiOWRjZGQwZDU4ZDc2NGYzMTFiMjdhNzY1ODYzM2YwOWE1NWFjNA=="
                                                            },
                                                            "_Type": "http://www.w3.org/2000/09/xmldsig#SignatureProperties",
                                                            "_URI": "#xadesSignedProperties",
                                                            "__prefix": "ds"
                                                        }
                                                    ],
                                                    "__prefix": "ds"
                                                },
                                                "SignatureValue": {
                                                    "__prefix": "ds",
                                                    "__text": "MEQCIGAQj78/dlFj31AZBDK79GKTvZJh5sD9fMEYeeE8azwcAiBYL+n143jKkL0fjV0D0S/HQxxUtT/NM/K5r92pZ24VwA=="
                                                },
                                                "KeyInfo": {
                                                    "X509Data": {
                                                        "X509Certificate": {
                                                            "__prefix": "ds",
                                                            "__text": "MIID9zCCA5ygAwIBAgITbwAAearsGD+wQpD3aAABAAB5qjAKBggqhkjOPQQDAjBjMRUwEwYKCZImiZPyLGQBGRYFbG9jYWwxEzARBgoJkiaJk/IsZAEZFgNnb3YxFzAVBgoJkiaJk/IsZAEZFgdleHRnYXp0MRwwGgYDVQQDExNUU1pFSU5WT0lDRS1TdWJDQS0xMB4XDTIyMDUxMjA5NDU0NFoXDTI0MDUxMTA5NDU0NFowWjELMAkGA1UEBhMCU0ExEzARBgNVBAoTCjMwMDA3NTU4ODcxDDAKBgNVBAsTA1RTVDEoMCYGA1UEAxMfVFNULS0xMjI3NDI5MjQwLTMwMDA3NTU4ODcwMDAwMzBWMBAGByqGSM49AgEGBSuBBAAKA0IABGGDDKDmhWAITDv7LXqLX2cmr6+qddUkpcLCvWs5rC2O29W/hS4ajAK4Qdnahym6MaijX75Cg3j4aao7ouYXJ9GjggI5MIICNTCBmgYDVR0RBIGSMIGPpIGMMIGJMTswOQYDVQQEDDIxLVRTVHwyLVRTVHwzLTk4ODJkODJiLTc0ZmUtNDUyMS05ZDBlLTQ3NjgxZTlkN2Q1ZTEfMB0GCgmSJomT8ixkAQEMDzMwMDA3NTU4ODcwMDAwMzENMAsGA1UEDAwEMTEwMDEMMAoGA1UEGgwDVFNUMQwwCgYDVQQPDANUU1QwHQYDVR0OBBYEFDuWYlOzWpFN3no1WtyNktQdrA8JMB8GA1UdIwQYMBaAFHZgjPsGoKxnVzWdz5qspyuZNbUvME4GA1UdHwRHMEUwQ6BBoD+GPWh0dHA6Ly90c3RjcmwuemF0Y2EuZ292LnNhL0NlcnRFbnJvbGwvVFNaRUlOVk9JQ0UtU3ViQ0EtMS5jcmwwga0GCCsGAQUFBwEBBIGgMIGdMG4GCCsGAQUFBzABhmJodHRwOi8vdHN0Y3JsLnphdGNhLmdvdi5zYS9DZXJ0RW5yb2xsL1RTWkVpbnZvaWNlU0NBMS5leHRnYXp0Lmdvdi5sb2NhbF9UU1pFSU5WT0lDRS1TdWJDQS0xKDEpLmNydDArBggrBgEFBQcwAYYfaHR0cDovL3RzdGNybC56YXRjYS5nb3Yuc2Evb2NzcDAOBgNVHQ8BAf8EBAMCB4AwHQYDVR0lBBYwFAYIKwYBBQUHAwIGCCsGAQUFBwMDMCcGCSsGAQQBgjcVCgQaMBgwCgYIKwYBBQUHAwIwCgYIKwYBBQUHAwMwCgYIKoZIzj0EAwIDSQAwRgIhAMMgHkhH51bSOWpW4XbzXvE44IWp1RSEASo5eFExoBAKAiEA8yG8lkyLBMp7mhJbkOUK6ELJb1un2tMq35UDPL+pxbA="
                                                        },
                                                        "__prefix": "ds"
                                                    },
                                                    "__prefix": "ds"
                                                },
                                                "Object": {
                                                    "QualifyingProperties": {
                                                        "SignedProperties": {
                                                            "SignedSignatureProperties": {
                                                                "SigningTime": {
                                                                    "__prefix": "xades",
                                                                    "__text": "2022-05-12T09:55:44Z"
                                                                },
                                                                "SigningCertificate": {
                                                                    "Cert": {
                                                                        "CertDigest": {
                                                                            "DigestMethod": {
                                                                                "_Algorithm": "http://www.w3.org/2001/04/xmlenc#sha256",
                                                                                "__prefix": "ds"
                                                                            },
                                                                            "DigestValue": {
                                                                                "__prefix": "ds",
                                                                                "__text": "MmZhNzliYWRhMTZjYTQwMWRiMDk4NzIwYjFlMmFhNzBlYzM4NmFhODk1YjYyNTgxNmMzMWQzNDE5ZGFlMGQ3OQ=="
                                                                            },
                                                                            "__prefix": "xades"
                                                                        },
                                                                        "IssuerSerial": {
                                                                            "X509IssuerName": {
                                                                                "__prefix": "ds",
                                                                                "__text": "CN=TSZEINVOICE-SubCA-1, DC=extgazt, DC=gov, DC=local"
                                                                            },
                                                                            "X509SerialNumber": {
                                                                                "__prefix": "ds",
                                                                                "__text": "2475382878760965694489209096382389797821381034"
                                                                            },
                                                                            "__prefix": "xades"
                                                                        },
                                                                        "__prefix": "xades"
                                                                    },
                                                                    "__prefix": "xades"
                                                                },
                                                                "__prefix": "xades"
                                                            },
                                                            "_Id": "xadesSignedProperties",
                                                            "__prefix": "xades"
                                                        },
                                                        "_xmlns:xades": "http://uri.etsi.org/01903/v1.3.2#",
                                                        "_Target": "signature",
                                                        "__prefix": "xades"
                                                    },
                                                    "__prefix": "ds"
                                                },
                                                "_xmlns:ds": "http://www.w3.org/2000/09/xmldsig#",
                                                "_Id": "signature",
                                                "__prefix": "ds"
                                            },
                                            "__prefix": "sac"
                                        },
                                        "_xmlns:sac": "urn:oasis:names:specification:ubl:schema:xsd:SignatureAggregateComponents-22",
                                        "_xmlns:sbc": "urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2",
                                        "_xmlns:sig": "urn:oasis:names:specification:ubl:schema:xsd:CommonSignatureComponents-2",
                                        "__prefix": "sig"
                                    },
                                    "__prefix": "ext"
                                },
                                "__prefix": "ext"
                            },
                            "__prefix": "ext"
                        },
                        "ProfileID": {
                            "__prefix": "cbc",
                            "__text": "reporting:1.0"
                        },
                        "ID": {
                            "__prefix": "cbc",
                            "__text": "SME00062"
                        },
                        "UUID": {
                            "__prefix": "cbc",
                            "__text": "16e78469-64af-406d-9cfd-895e724198f0"
                        },
                        "IssueDate": {
                            "__prefix": "cbc",
                            "__text": "2022-03-13"
                        },
                        "IssueTime": {
                            "__prefix": "cbc",
                            "__text": "14:40:40"
                        },
                        "InvoiceTypeCode": {
                            "_name": "0111010",
                            "__prefix": "cbc",
                            "__text": "388"
                        },
                        "DocumentCurrencyCode": {
                            "__prefix": "cbc",
                            "__text": "SAR"
                        },
                        "TaxCurrencyCode": {
                            "__prefix": "cbc",
                            "__text": "SAR"
                        },
                        "AdditionalDocumentReference": [
                            {
                                "ID": {
                                    "__prefix": "cbc",
                                    "__text": "ICV"
                                },
                                "UUID": {
                                    "__prefix": "cbc",
                                    "__text": "62"
                                },
                                "__prefix": "cac"
                            },
                            {
                                "ID": {
                                    "__prefix": "cbc",
                                    "__text": "PIH"
                                },
                                "Attachment": {
                                    "EmbeddedDocumentBinaryObject": {
                                        "_mimeCode": "text/plain",
                                        "__prefix": "cbc",
                                        "__text": "NWZlY2ViNjZmZmM4NmYzOGQ5NTI3ODZjNmQ2OTZjNzljMmRiYzIzOWRkNGU5MWI0NjcyOWQ3M2EyN2ZiNTdlOQ=="
                                    },
                                    "__prefix": "cac"
                                },
                                "__prefix": "cac"
                            }
                        ],
                        "AccountingSupplierParty": {
                            "Party": {
                                "PartyIdentification": {
                                    "ID": {
                                        "_schemeID": "CRN",
                                        "__prefix": "cbc",
                                        "__text": "454634645645654"
                                    },
                                    "__prefix": "cac"
                                },
                                "PostalAddress": {
                                    "StreetName": {
                                        "__prefix": "cbc",
                                        "__text": "test"
                                    },
                                    "BuildingNumber": {
                                        "__prefix": "cbc",
                                        "__text": "3454"
                                    },
                                    "PlotIdentification": {
                                        "__prefix": "cbc",
                                        "__text": "1234"
                                    },
                                    "CitySubdivisionName": {
                                        "__prefix": "cbc",
                                        "__text": "test"
                                    },
                                    "CityName": {
                                        "__prefix": "cbc",
                                        "__text": "Riyadh"
                                    },
                                    "PostalZone": {
                                        "__prefix": "cbc",
                                        "__text": "12345"
                                    },
                                    "CountrySubentity": {
                                        "__prefix": "cbc",
                                        "__text": "test"
                                    },
                                    "Country": {
                                        "IdentificationCode": {
                                            "__prefix": "cbc",
                                            "__text": "SA"
                                        },
                                        "__prefix": "cac"
                                    },
                                    "__prefix": "cac"
                                },
                                "PartyTaxScheme": {
                                    "CompanyID": {
                                        "__prefix": "cbc",
                                        "__text": "300075588700003"
                                    },
                                    "TaxScheme": {
                                        "ID": {
                                            "__prefix": "cbc",
                                            "__text": "VAT"
                                        },
                                        "__prefix": "cac"
                                    },
                                    "__prefix": "cac"
                                },
                                "PartyLegalEntity": {
                                    "RegistrationName": {
                                        "__prefix": "cbc",
                                        "__text": "Ahmed Mohamed AL Ahmady"
                                    },
                                    "__prefix": "cac"
                                },
                                "__prefix": "cac"
                            },
                            "__prefix": "cac"
                        },
                        "AccountingCustomerParty": {
                            "Party": {
                                "PartyIdentification": {
                                    "ID": {
                                        "_schemeID": "NAT",
                                        "__prefix": "cbc",
                                        "__text": "2345"
                                    },
                                    "__prefix": "cac"
                                },
                                "PostalAddress": {
                                    "StreetName": {
                                        "__prefix": "cbc",
                                        "__text": "baaoun"
                                    },
                                    "AdditionalStreetName": {
                                        "__prefix": "cbc",
                                        "__text": "sdsd"
                                    },
                                    "BuildingNumber": {
                                        "__prefix": "cbc",
                                        "__text": "3353"
                                    },
                                    "PlotIdentification": {
                                        "__prefix": "cbc",
                                        "__text": "3434"
                                    },
                                    "CitySubdivisionName": {
                                        "__prefix": "cbc",
                                        "__text": "fgff"
                                    },
                                    "CityName": {
                                        "__prefix": "cbc",
                                        "__text": "Dhurma"
                                    },
                                    "PostalZone": {
                                        "__prefix": "cbc",
                                        "__text": "34534"
                                    },
                                    "CountrySubentity": {
                                        "__prefix": "cbc",
                                        "__text": "ulhk"
                                    },
                                    "Country": {
                                        "IdentificationCode": {
                                            "__prefix": "cbc",
                                            "__text": "SA"
                                        },
                                        "__prefix": "cac"
                                    },
                                    "__prefix": "cac"
                                },
                                "PartyTaxScheme": {
                                    "TaxScheme": {
                                        "ID": {
                                            "__prefix": "cbc",
                                            "__text": "VAT"
                                        },
                                        "__prefix": "cac"
                                    },
                                    "__prefix": "cac"
                                },
                                "PartyLegalEntity": {
                                    "RegistrationName": {
                                        "__prefix": "cbc",
                                        "__text": "sdsa"
                                    },
                                    "__prefix": "cac"
                                },
                                "__prefix": "cac"
                            },
                            "__prefix": "cac"
                        },
                        "Delivery": {
                            "ActualDeliveryDate": {
                                "__prefix": "cbc",
                                "__text": "2022-03-13"
                            },
                            "LatestDeliveryDate": {
                                "__prefix": "cbc",
                                "__text": "2022-03-15"
                            },
                            "__prefix": "cac"
                        },
                        "PaymentMeans": {
                            "PaymentMeansCode": {
                                "__prefix": "cbc",
                                "__text": "10"
                            },
                            "__prefix": "cac"
                        },
                        "AllowanceCharge": {
                            "ID": {
                                "__prefix": "cbc",
                                "__text": "1"
                            },
                            "ChargeIndicator": {
                                "__prefix": "cbc",
                                "__text": "false"
                            },
                            "AllowanceChargeReason": {
                                "__prefix": "cbc",
                                "__text": "discount"
                            },
                            "Amount": {
                                "_currencyID": "SAR",
                                "__prefix": "cbc",
                                "__text": "2"
                            },
                            "TaxCategory": {
                                "ID": {
                                    "_schemeAgencyID": "6",
                                    "_schemeID": "UN/ECE 5305",
                                    "__prefix": "cbc",
                                    "__text": "S"
                                },
                                "Percent": {
                                    "__prefix": "cbc",
                                    "__text": "15"
                                },
                                "TaxScheme": {
                                    "ID": {
                                        "_schemeAgencyID": "6",
                                        "_schemeID": "UN/ECE 5153",
                                        "__prefix": "cbc",
                                        "__text": "VAT"
                                    },
                                    "__prefix": "cac"
                                },
                                "__prefix": "cac"
                            },
                            "__prefix": "cac"
                        },
                        "TaxTotal": [
                            {
                                "TaxAmount": {
                                    "_currencyID": "SAR",
                                    "__prefix": "cbc",
                                    "__text": "144.9"
                                },
                                "TaxSubtotal": {
                                    "TaxableAmount": {
                                        "_currencyID": "SAR",
                                        "__prefix": "cbc",
                                        "__text": "966.00"
                                    },
                                    "TaxAmount": {
                                        "_currencyID": "SAR",
                                        "__prefix": "cbc",
                                        "__text": "144.90"
                                    },
                                    "TaxCategory": {
                                        "ID": {
                                            "_schemeAgencyID": "6",
                                            "_schemeID": "UN/ECE 5305",
                                            "__prefix": "cbc",
                                            "__text": "S"
                                        },
                                        "Percent": {
                                            "__prefix": "cbc",
                                            "__text": "15.00"
                                        },
                                        "TaxScheme": {
                                            "ID": {
                                                "_schemeAgencyID": "6",
                                                "_schemeID": "UN/ECE 5153",
                                                "__prefix": "cbc",
                                                "__text": "VAT"
                                            },
                                            "__prefix": "cac"
                                        },
                                        "__prefix": "cac"
                                    },
                                    "__prefix": "cac"
                                },
                                "__prefix": "cac"
                            },
                            {
                                "TaxAmount": {
                                    "_currencyID": "SAR",
                                    "__prefix": "cbc",
                                    "__text": "144.9"
                                },
                                "__prefix": "cac"
                            }
                        ],
                        "LegalMonetaryTotal": {
                            "LineExtensionAmount": {
                                "_currencyID": "SAR",
                                "__prefix": "cbc",
                                "__text": "966.00"
                            },
                            "TaxExclusiveAmount": {
                                "_currencyID": "SAR",
                                "__prefix": "cbc",
                                "__text": "964.00"
                            },
                            "TaxInclusiveAmount": {
                                "_currencyID": "SAR",
                                "__prefix": "cbc",
                                "__text": "1108.90"
                            },
                            "AllowanceTotalAmount": {
                                "_currencyID": "SAR",
                                "__prefix": "cbc",
                                "__text": "2.00"
                            },
                            "PrepaidAmount": {
                                "_currencyID": "SAR",
                                "__prefix": "cbc",
                                "__text": "0.00"
                            },
                            "PayableAmount": {
                                "_currencyID": "SAR",
                                "__prefix": "cbc",
                                "__text": "1108.90"
                            },
                            "__prefix": "cac"
                        },
                        "InvoiceLine": {
                            "ID": {
                                "__prefix": "cbc",
                                "__text": "1"
                            },
                            "InvoicedQuantity": {
                                "_unitCode": "PCE",
                                "__prefix": "cbc",
                                "__text": "44.000000"
                            },
                            "LineExtensionAmount": {
                                "_currencyID": "SAR",
                                "__prefix": "cbc",
                                "__text": "966.00"
                            },
                            "TaxTotal": {
                                "TaxAmount": {
                                    "_currencyID": "SAR",
                                    "__prefix": "cbc",
                                    "__text": "144.90"
                                },
                                "RoundingAmount": {
                                    "_currencyID": "SAR",
                                    "__prefix": "cbc",
                                    "__text": "1110.90"
                                },
                                "__prefix": "cac"
                            },
                            "Item": {
                                "Name": {
                                    "__prefix": "cbc",
                                    "__text": "dsd"
                                },
                                "ClassifiedTaxCategory": {
                                    "ID": {
                                        "__prefix": "cbc",
                                        "__text": "S"
                                    },
                                    "Percent": {
                                        "__prefix": "cbc",
                                        "__text": "15.00"
                                    },
                                    "TaxScheme": {
                                        "ID": {
                                            "__prefix": "cbc",
                                            "__text": "VAT"
                                        },
                                        "__prefix": "cac"
                                    },
                                    "__prefix": "cac"
                                },
                                "__prefix": "cac"
                            },
                            "Price": {
                                "PriceAmount": {
                                    "_currencyID": "SAR",
                                    "__prefix": "cbc",
                                    "__text": "22.00"
                                },
                                "AllowanceCharge": {
                                    "ChargeIndicator": {
                                        "__prefix": "cbc",
                                        "__text": "false"
                                    },
                                    "AllowanceChargeReason": {
                                        "__prefix": "cbc",
                                        "__text": "discount"
                                    },
                                    "Amount": {
                                        "_currencyID": "SAR",
                                        "__prefix": "cbc",
                                        "__text": "2.00"
                                    },
                                    "__prefix": "cac"
                                },
                                "__prefix": "cac"
                            },
                            "__prefix": "cac"
                        },
                        "_xmlns": "urn:oasis:names:specification:ubl:schema:xsd:Invoice-2",
                        "_xmlns:cac": "urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2",
                        "_xmlns:cbc": "urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2",
                        "_xmlns:ext": "urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"
                    }
                }
            },
            "ProductionCSIDOnboardingAPI": {
                "type": "object",
                "properties": {
                    "compliance_request_id": {
                        "type": "string",
                        "description": "compliance_request_id",
                        "example": "1234567890123"
                    }
                }
            },
            "ProductionCSIDRenewalAPI": {
                "type": "object",
                "properties": {
                    "csr": {
                        "type": "string",
                        "description": "csr",
                        "example": "LS0tLS1CRUdJTiBDRVJUSUZJQ0FURSBSRVFVRVNULS0tLS0KTUlJQjJEQ0NBWDRDQVFBd1NERUxNQWtHQTFVRUJoTUNVMEV4RlRBVEJnTlZCQXNNREZKNWFXRmtJRUp5WVc1agphREVPTUF3R0ExVUVDZ3dGU21WeWFYSXhFakFRQmdOVkJBTU1DVEV5Tnk0d0xqQXVNVEJXTUJBR0J5cUdTTTQ5CkFnRUdCU3VCQkFBS0EwSUFCS2E0VG53UVBBQWp2cDAxV081UEgreXJlR2lkRkxXK2VTMUR5NXAxVkxMMktmZjQKRGg5dG9zZGphQ2ptNjBDc1AwQ09UZGNHdDROMnRmOHA2VkNmQW55Z2dkWXdnZE1HQ1NxR1NJYjNEUUVKRGpHQgp4VENCd2pBa0Jna3JCZ0VFQVlJM0ZBSUVGeE1WVkZOVVdrRlVRMEV0UTI5a1pTMVRhV2R1YVc1bk1JR1pCZ05WCkhSRUVnWkV3Z1k2a2dZc3dnWWd4S0RBbUJnTlZCQVFNSHpFdFZHVnpkSHd5TFZSbGMzUjhNeTB6TlRRek5UUXoKTlRnNE16UXpNalV4SHpBZEJnb0praWFKay9Jc1pBRUJEQTh6TVRBeE1qSXpPVE0xTURBd01ETXhEVEFMQmdOVgpCQXdNQkRFeE1EQXhFVEFQQmdOVkJCb01DRk5oYlhCc1pTQkZNUmt3RndZRFZRUVBEQkJUWVcxd2JHVWdRblZ6CmMybHVaWE56TUFvR0NDcUdTTTQ5QkFNQ0EwZ0FNRVVDSVFDVUxlaUFOc1FYZVpYejRVYjlxWkRGaUNJWlNXeXkKSE1odmpibjFzTnZsaFFJZ08zaFNVeEgvNkl5ckZzeXF2cHc3NnlyaVRQSzE3VHdONHhEK0lpaFpQR3c9Ci0tLS0tRU5EIENFUlRJRklDQVRFIFJFUVVFU1QtLS0tLQ=="
                    }
                }
            },
            "ReportingAPI": {
                "type": "object",
                "properties": {
                    "invoiceHash": {
                        "type": "string",
                        "description": "invoiceHash",
                        "example": "+bA1mucVI67H4WCbN/e9J2qUpHTt3TwMdxlkOWTeov8="
                    },
                    "uuid": {
                        "type": "string",
                        "description": "uuid",
                        "example": "6f4d20e0-6bfe-4a80-9389-7dabe6620f12"
                    },
                    "invoice": {
                        "type": "string",
                        "description": "invoice",
                        "example": "PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPEludm9pY2UgeG1sbnM9InVybjpvYXNpczpuYW1lczpzcGVjaWZpY2F0aW9uOnVibDpzY2hlbWE6eHNkOkludm9pY2UtMiIgeG1sbnM6Y2FjPSJ1cm46b2FzaXM6bmFtZXM6c3BlY2lmaWNhdGlvbjp1Ymw6c2NoZW1hOnhzZDpDb21tb25BZ2dyZWdhdGVDb21wb25lbnRzLTIiIHhtbG5zOmNiYz0idXJuOm9hc2lzOm5hbWVzOnNwZWNpZmljYXRpb246dWJsOnNjaGVtYTp4c2Q6Q29tbW9uQmFzaWNDb21wb25lbnRzLTIiIHhtbG5zOmV4dD0idXJuOm9hc2lzOm5hbWVzOnNwZWNpZmljYXRpb246dWJsOnNjaGVtYTp4c2Q6Q29tbW9uRXh0ZW5zaW9uQ29tcG9uZW50cy0yIj48ZXh0OlVCTEV4dGVuc2lvbnM+CiAgICA8ZXh0OlVCTEV4dGVuc2lvbj4KICAgICAgICA8ZXh0OkV4dGVuc2lvblVSST51cm46b2FzaXM6bmFtZXM6c3BlY2lmaWNhdGlvbjp1Ymw6ZHNpZzplbnZlbG9wZWQ6eGFkZXM8L2V4dDpFeHRlbnNpb25VUkk+CiAgICAgICAgPGV4dDpFeHRlbnNpb25Db250ZW50PgogICAgICAgICAgICA8IS0tIFBsZWFzZSBub3RlIHRoYXQgdGhlIHNpZ25hdHVyZSB2YWx1ZXMgYXJlIHNhbXBsZSB2YWx1ZXMgb25seSAtLT4KICAgICAgICAgICAgPHNpZzpVQkxEb2N1bWVudFNpZ25hdHVyZXMgeG1sbnM6c2lnPSJ1cm46b2FzaXM6bmFtZXM6c3BlY2lmaWNhdGlvbjp1Ymw6c2NoZW1hOnhzZDpDb21tb25TaWduYXR1cmVDb21wb25lbnRzLTIiIHhtbG5zOnNhYz0idXJuOm9hc2lzOm5hbWVzOnNwZWNpZmljYXRpb246dWJsOnNjaGVtYTp4c2Q6U2lnbmF0dXJlQWdncmVnYXRlQ29tcG9uZW50cy0yIiB4bWxuczpzYmM9InVybjpvYXNpczpuYW1lczpzcGVjaWZpY2F0aW9uOnVibDpzY2hlbWE6eHNkOlNpZ25hdHVyZUJhc2ljQ29tcG9uZW50cy0yIj4KICAgICAgICAgICAgICAgIDxzYWM6U2lnbmF0dXJlSW5mb3JtYXRpb24+CiAgICAgICAgICAgICAgICAgICAgPGNiYzpJRD51cm46b2FzaXM6bmFtZXM6c3BlY2lmaWNhdGlvbjp1Ymw6c2lnbmF0dXJlOjE8L2NiYzpJRD4KICAgICAgICAgICAgICAgICAgICA8c2JjOlJlZmVyZW5jZWRTaWduYXR1cmVJRD51cm46b2FzaXM6bmFtZXM6c3BlY2lmaWNhdGlvbjp1Ymw6c2lnbmF0dXJlOkludm9pY2U8L3NiYzpSZWZlcmVuY2VkU2lnbmF0dXJlSUQ+CiAgICAgICAgICAgICAgICAgICAgPGRzOlNpZ25hdHVyZSB4bWxuczpkcz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC8wOS94bWxkc2lnIyIgSWQ9InNpZ25hdHVyZSI+CiAgICAgICAgICAgICAgICAgICAgICAgIDxkczpTaWduZWRJbmZvPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPGRzOkNhbm9uaWNhbGl6YXRpb25NZXRob2QgQWxnb3JpdGhtPSJodHRwOi8vd3d3LnczLm9yZy8yMDA2LzEyL3htbC1jMTRuMTEiLz4KICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxkczpTaWduYXR1cmVNZXRob2QgQWxnb3JpdGhtPSJodHRwOi8vd3d3LnczLm9yZy8yMDAxLzA0L3htbGRzaWctbW9yZSNlY2RzYS1zaGEyNTYiLz4KICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxkczpSZWZlcmVuY2UgSWQ9Imludm9pY2VTaWduZWREYXRhIiBVUkk9IiI+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPGRzOlRyYW5zZm9ybXM+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxkczpUcmFuc2Zvcm0gQWxnb3JpdGhtPSJodHRwOi8vd3d3LnczLm9yZy9UUi8xOTk5L1JFQy14cGF0aC0xOTk5MTExNiI+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA8ZHM6WFBhdGg+bm90KC8vYW5jZXN0b3Itb3Itc2VsZjo6ZXh0OlVCTEV4dGVuc2lvbnMpPC9kczpYUGF0aD4KICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPC9kczpUcmFuc2Zvcm0+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxkczpUcmFuc2Zvcm0gQWxnb3JpdGhtPSJodHRwOi8vd3d3LnczLm9yZy9UUi8xOTk5L1JFQy14cGF0aC0xOTk5MTExNiI+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA8ZHM6WFBhdGg+bm90KC8vYW5jZXN0b3Itb3Itc2VsZjo6Y2FjOlNpZ25hdHVyZSk8L2RzOlhQYXRoPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA8L2RzOlRyYW5zZm9ybT4KICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPGRzOlRyYW5zZm9ybSBBbGdvcml0aG09Imh0dHA6Ly93d3cudzMub3JnL1RSLzE5OTkvUkVDLXhwYXRoLTE5OTkxMTE2Ij4KICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxkczpYUGF0aD5ub3QoLy9hbmNlc3Rvci1vci1zZWxmOjpjYWM6QWRkaXRpb25hbERvY3VtZW50UmVmZXJlbmNlW2NiYzpJRD0nUVInXSk8L2RzOlhQYXRoPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA8L2RzOlRyYW5zZm9ybT4KICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPGRzOlRyYW5zZm9ybSBBbGdvcml0aG09Imh0dHA6Ly93d3cudzMub3JnLzIwMDYvMTIveG1sLWMxNG4xMSIvPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDwvZHM6VHJhbnNmb3Jtcz4KICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA8ZHM6RGlnZXN0TWV0aG9kIEFsZ29yaXRobT0iaHR0cDovL3d3dy53My5vcmcvMjAwMS8wNC94bWxlbmMjc2hhMjU2Ii8+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPGRzOkRpZ2VzdFZhbHVlPitiQTFtdWNWSTY3SDRXQ2JOL2U5SjJxVXBIVHQzVHdNZHhsa09XVGVvdjg9PC9kczpEaWdlc3RWYWx1ZT4KICAgICAgICAgICAgICAgICAgICAgICAgICAgIDwvZHM6UmVmZXJlbmNlPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPGRzOlJlZmVyZW5jZSBUeXBlPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwLzA5L3htbGRzaWcjU2lnbmF0dXJlUHJvcGVydGllcyIgVVJJPSIjeGFkZXNTaWduZWRQcm9wZXJ0aWVzIj4KICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA8ZHM6RGlnZXN0TWV0aG9kIEFsZ29yaXRobT0iaHR0cDovL3d3dy53My5vcmcvMjAwMS8wNC94bWxlbmMjc2hhMjU2Ii8+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPGRzOkRpZ2VzdFZhbHVlPlpEWmpNelF5WlRCak5HVmpZMlZsT0RneFlUQmlNemhpTkRGbE0yUXhaVGxrWkRreU1EUTFOVEV3TnpVd04yUmhZalV3TkdObVptTm1OVEZtWTJJMk9BPT08L2RzOkRpZ2VzdFZhbHVlPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPC9kczpSZWZlcmVuY2U+CiAgICAgICAgICAgICAgICAgICAgICAgIDwvZHM6U2lnbmVkSW5mbz4KICAgICAgICAgICAgICAgICAgICAgICAgPGRzOlNpZ25hdHVyZVZhbHVlPk1FWUNJUUNZaDVlM2lySXFXbDVZdGFDbktpdWpNSVRtb2tYWU9QTXBJRENJb1dXNzl3SWhBTVhtYytNRkhHdGFlQnNlT3VFR1Rsd0Q2ZzA5Z05RUFJQdVk4OXM2NU9XUzwvZHM6U2lnbmF0dXJlVmFsdWU+CiAgICAgICAgICAgICAgICAgICAgICAgIDxkczpLZXlJbmZvPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPGRzOlg1MDlEYXRhPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxkczpYNTA5Q2VydGlmaWNhdGU+TUlJRDFEQ0NBM21nQXdJQkFnSVRid0FBZTNVQVlWVTM0SS8rNVFBQkFBQjdkVEFLQmdncWhrak9QUVFEQWpCak1SVXdFd1lLQ1pJbWlaUHlMR1FCR1JZRmJHOWpZV3d4RXpBUkJnb0praWFKay9Jc1pBRVpGZ05uYjNZeEZ6QVZCZ29Ka2lhSmsvSXNaQUVaRmdkbGVIUm5ZWHAwTVJ3d0dnWURWUVFERXhOVVUxcEZTVTVXVDBsRFJTMVRkV0pEUVMweE1CNFhEVEl5TURZeE1qRTNOREExTWxvWERUSTBNRFl4TVRFM05EQTFNbG93U1RFTE1Ba0dBMVVFQmhNQ1UwRXhEakFNQmdOVkJBb1RCV0ZuYVd4bE1SWXdGQVlEVlFRTEV3MW9ZWGxoSUhsaFoyaHRiM1Z5TVJJd0VBWURWUVFERXdreE1qY3VNQzR3TGpFd1ZqQVFCZ2NxaGtqT1BRSUJCZ1VyZ1FRQUNnTkNBQVRUQUs5bHJUVmtvOXJrcTZaWWNjOUhEUlpQNGI5UzR6QTRLbTdZWEorc25UVmhMa3pVMEhzbVNYOVVuOGpEaFJUT0hES2FmdDhDL3V1VVk5MzR2dU1ObzRJQ0p6Q0NBaU13Z1lnR0ExVWRFUVNCZ0RCK3BId3dlakViTUJrR0ExVUVCQXdTTVMxb1lYbGhmREl0TWpNMGZETXRNVEV5TVI4d0hRWUtDWkltaVpQeUxHUUJBUXdQTXpBd01EYzFOVGc0TnpBd01EQXpNUTB3Q3dZRFZRUU1EQVF4TVRBd01SRXdEd1lEVlFRYURBaGFZWFJqWVNBeE1qRVlNQllHQTFVRUR3d1BSbTl2WkNCQ2RYTnphVzVsYzNNek1CMEdBMVVkRGdRV0JCU2dtSVdENmJQZmJiS2ttVHdPSlJYdkliSDlIakFmQmdOVkhTTUVHREFXZ0JSMllJejdCcUNzWjFjMW5jK2FyS2NybVRXMUx6Qk9CZ05WSFI4RVJ6QkZNRU9nUWFBL2hqMW9kSFJ3T2k4dmRITjBZM0pzTG5waGRHTmhMbWR2ZGk1ellTOURaWEowUlc1eWIyeHNMMVJUV2tWSlRsWlBTVU5GTFZOMVlrTkJMVEV1WTNKc01JR3RCZ2dyQmdFRkJRY0JBUVNCb0RDQm5UQnVCZ2dyQmdFRkJRY3dBWVppYUhSMGNEb3ZMM1J6ZEdOeWJDNTZZWFJqWVM1bmIzWXVjMkV2UTJWeWRFVnVjbTlzYkM5VVUxcEZhVzUyYjJsalpWTkRRVEV1WlhoMFoyRjZkQzVuYjNZdWJHOWpZV3hmVkZOYVJVbE9WazlKUTBVdFUzVmlRMEV0TVNneEtTNWpjblF3S3dZSUt3WUJCUVVITUFHR0gyaDBkSEE2THk5MGMzUmpjbXd1ZW1GMFkyRXVaMjkyTG5OaEwyOWpjM0F3RGdZRFZSMFBBUUgvQkFRREFnZUFNQjBHQTFVZEpRUVdNQlFHQ0NzR0FRVUZCd01DQmdnckJnRUZCUWNEQXpBbkJna3JCZ0VFQVlJM0ZRb0VHakFZTUFvR0NDc0dBUVVGQndNQ01Bb0dDQ3NHQVFVRkJ3TURNQW9HQ0NxR1NNNDlCQU1DQTBrQU1FWUNJUUNWd0RNY3E2UE8rTWNtc0JYVXovdjFHZGhHcDdycVNhMkF4VEtTdjgzOElBSWhBT0JOREJ0OSszRFNsaWpvVmZ4enJkRGg1MjhXQzM3c21FZG9HV1ZyU3BHMTwvZHM6WDUwOUNlcnRpZmljYXRlPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPC9kczpYNTA5RGF0YT4KICAgICAgICAgICAgICAgICAgICAgICAgPC9kczpLZXlJbmZvPgogICAgICAgICAgICAgICAgICAgICAgICA8ZHM6T2JqZWN0PgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPHhhZGVzOlF1YWxpZnlpbmdQcm9wZXJ0aWVzIHhtbG5zOnhhZGVzPSJodHRwOi8vdXJpLmV0c2kub3JnLzAxOTAzL3YxLjMuMiMiIFRhcmdldD0ic2lnbmF0dXJlIj4KICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA8eGFkZXM6U2lnbmVkUHJvcGVydGllcyBJZD0ieGFkZXNTaWduZWRQcm9wZXJ0aWVzIj4KICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPHhhZGVzOlNpZ25lZFNpZ25hdHVyZVByb3BlcnRpZXM+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA8eGFkZXM6U2lnbmluZ1RpbWU+MjAyMi0wNi0xM1QxMTowNjoxNFo8L3hhZGVzOlNpZ25pbmdUaW1lPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPHhhZGVzOlNpZ25pbmdDZXJ0aWZpY2F0ZT4KICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA8eGFkZXM6Q2VydD4KICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPHhhZGVzOkNlcnREaWdlc3Q+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA8ZHM6RGlnZXN0TWV0aG9kIEFsZ29yaXRobT0iaHR0cDovL3d3dy53My5vcmcvMjAwMS8wNC94bWxlbmMjc2hhMjU2Ii8+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA8ZHM6RGlnZXN0VmFsdWU+TkRsaVlXWTBZbVZtTnpBeVptRTRPV0l3WkRNellXSXpaakZrT1RZNVl6RmhaalJoWkRFNFpURmtPRGxrTkRZMlkyVXdZekkyTjJReU5EZzBNV1ZsWVE9PTwvZHM6RGlnZXN0VmFsdWU+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDwveGFkZXM6Q2VydERpZ2VzdD4KICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPHhhZGVzOklzc3VlclNlcmlhbD4KICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxkczpYNTA5SXNzdWVyTmFtZT5DTj1UU1pFSU5WT0lDRS1TdWJDQS0xLCBEQz1leHRnYXp0LCBEQz1nb3YsIERDPWxvY2FsPC9kczpYNTA5SXNzdWVyTmFtZT4KICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxkczpYNTA5U2VyaWFsTnVtYmVyPjI0NzUzODI4ODExMzk0NDkwOTQyMDkyMzMwMzI4NDc4Mzg2MzI3MzI1NTYxNDk8L2RzOlg1MDlTZXJpYWxOdW1iZXI+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDwveGFkZXM6SXNzdWVyU2VyaWFsPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDwveGFkZXM6Q2VydD4KICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDwveGFkZXM6U2lnbmluZ0NlcnRpZmljYXRlPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA8L3hhZGVzOlNpZ25lZFNpZ25hdHVyZVByb3BlcnRpZXM+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPC94YWRlczpTaWduZWRQcm9wZXJ0aWVzPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPC94YWRlczpRdWFsaWZ5aW5nUHJvcGVydGllcz4KICAgICAgICAgICAgICAgICAgICAgICAgPC9kczpPYmplY3Q+CiAgICAgICAgICAgICAgICAgICAgPC9kczpTaWduYXR1cmU+CiAgICAgICAgICAgICAgICA8L3NhYzpTaWduYXR1cmVJbmZvcm1hdGlvbj4KICAgICAgICAgICAgPC9zaWc6VUJMRG9jdW1lbnRTaWduYXR1cmVzPgogICAgICAgIDwvZXh0OkV4dGVuc2lvbkNvbnRlbnQ+CiAgICA8L2V4dDpVQkxFeHRlbnNpb24+CjwvZXh0OlVCTEV4dGVuc2lvbnM+CiAgICAKICAgIDxjYmM6UHJvZmlsZUlEPnJlcG9ydGluZzoxLjA8L2NiYzpQcm9maWxlSUQ+CiAgICA8Y2JjOklEPlNNRTAwMDYyPC9jYmM6SUQ+CiAgICA8Y2JjOlVVSUQ+NmY0ZDIwZTAtNmJmZS00YTgwLTkzODktN2RhYmU2NjIwZjEyPC9jYmM6VVVJRD4KICAgIDxjYmM6SXNzdWVEYXRlPjIwMjItMDMtMTM8L2NiYzpJc3N1ZURhdGU+CiAgICA8Y2JjOklzc3VlVGltZT4xNDo0MDo0MDwvY2JjOklzc3VlVGltZT4KICAgIDxjYmM6SW52b2ljZVR5cGVDb2RlIG5hbWU9IjAyMTEwMTAiPjM4ODwvY2JjOkludm9pY2VUeXBlQ29kZT4KICAgIDxjYmM6RG9jdW1lbnRDdXJyZW5jeUNvZGU+U0FSPC9jYmM6RG9jdW1lbnRDdXJyZW5jeUNvZGU+CiAgICA8Y2JjOlRheEN1cnJlbmN5Q29kZT5TQVI8L2NiYzpUYXhDdXJyZW5jeUNvZGU+CiAgICA8Y2FjOkFkZGl0aW9uYWxEb2N1bWVudFJlZmVyZW5jZT4KICAgICAgICA8Y2JjOklEPklDVjwvY2JjOklEPgogICAgICAgIDxjYmM6VVVJRD42MjwvY2JjOlVVSUQ+CiAgICA8L2NhYzpBZGRpdGlvbmFsRG9jdW1lbnRSZWZlcmVuY2U+CiAgICA8Y2FjOkFkZGl0aW9uYWxEb2N1bWVudFJlZmVyZW5jZT4KICAgICAgICA8Y2JjOklEPlBJSDwvY2JjOklEPgogICAgICAgIDxjYWM6QXR0YWNobWVudD4KICAgICAgICAgICAgPGNiYzpFbWJlZGRlZERvY3VtZW50QmluYXJ5T2JqZWN0IG1pbWVDb2RlPSJ0ZXh0L3BsYWluIj5OV1psWTJWaU5qWm1abU00Tm1Zek9HUTVOVEkzT0Raak5tUTJPVFpqTnpsak1tUmlZekl6T1dSa05HVTVNV0kwTmpjeU9XUTNNMkV5TjJaaU5UZGxPUT09PC9jYmM6RW1iZWRkZWREb2N1bWVudEJpbmFyeU9iamVjdD4KICAgICAgICA8L2NhYzpBdHRhY2htZW50PgogICAgPC9jYWM6QWRkaXRpb25hbERvY3VtZW50UmVmZXJlbmNlPgogICAgCiAgICAKICAgIDxjYWM6QWRkaXRpb25hbERvY3VtZW50UmVmZXJlbmNlPgogICAgICAgIDxjYmM6SUQ+UVI8L2NiYzpJRD4KICAgICAgICA8Y2FjOkF0dGFjaG1lbnQ+CiAgICAgICAgICAgIDxjYmM6RW1iZWRkZWREb2N1bWVudEJpbmFyeU9iamVjdCBtaW1lQ29kZT0idGV4dC9wbGFpbiI+QVJkQmFHMWxaQ0JOYjJoaGJXVmtJRUZNSUVGb2JXRmtlUUlQTXpBd01EYzFOVGc0TnpBd01EQXpBeFF5TURJeUxUQXpMVEV6VkRFME9qUXdPalF3V2dRSE1URXdPQzQ1TUFVRk1UUTBMamtHTEN0aVFURnRkV05XU1RZM1NEUlhRMkpPTDJVNVNqSnhWWEJJVkhRelZIZE5aSGhzYTA5WFZHVnZkamc5QjJCTlJWbERTVkZEV1dnMVpUTnBja2x4VjJ3MVdYUmhRMjVMYVhWcVRVbFViVzlyV0ZsUFVFMXdTVVJEU1c5WFZ6YzVkMGxvUVUxWWJXTXJUVVpJUjNSaFpVSnpaVTkxUlVkVWJIZEVObWN3T1dkT1VWQlNVSFZaT0Rsek5qVlBWMU1JV0RCV01CQUdCeXFHU000OUFnRUdCU3VCQkFBS0EwSUFCTk1BcjJXdE5XU2oydVNycGxoeHowY05Gay9odjFMak1EZ3FidGhjbjZ5ZE5XRXVUTlRRZXlaSmYxU2Z5TU9GRk00Y01wcCszd0wrNjVSajNmaSs0dzBKU0RCR0FpRUFsY0F6SEt1anp2akhKckFWMU0vNzlSbllScWU2NmttdGdNVXlrci9OL0NBQ0lRRGdUUXdiZmZ0dzBwWW82Rlg4YzYzUTRlZHZGZ3QrN0poSGFCbGxhMHFSdFE9PTwvY2JjOkVtYmVkZGVkRG9jdW1lbnRCaW5hcnlPYmplY3Q+CiAgICAgICAgPC9jYWM6QXR0YWNobWVudD4KPC9jYWM6QWRkaXRpb25hbERvY3VtZW50UmVmZXJlbmNlPjxjYWM6U2lnbmF0dXJlPgogICAgICA8Y2JjOklEPnVybjpvYXNpczpuYW1lczpzcGVjaWZpY2F0aW9uOnVibDpzaWduYXR1cmU6SW52b2ljZTwvY2JjOklEPgogICAgICA8Y2JjOlNpZ25hdHVyZU1ldGhvZD51cm46b2FzaXM6bmFtZXM6c3BlY2lmaWNhdGlvbjp1Ymw6ZHNpZzplbnZlbG9wZWQ6eGFkZXM8L2NiYzpTaWduYXR1cmVNZXRob2Q+CjwvY2FjOlNpZ25hdHVyZT48Y2FjOkFjY291bnRpbmdTdXBwbGllclBhcnR5PgogICAgICAgIDxjYWM6UGFydHk+CiAgICAgICAgICAgIDxjYWM6UGFydHlJZGVudGlmaWNhdGlvbj4KICAgICAgICAgICAgICAgIDxjYmM6SUQgc2NoZW1lSUQ9IkNSTiI+NDU0NjM0NjQ1NjQ1NjU0PC9jYmM6SUQ+CiAgICAgICAgICAgIDwvY2FjOlBhcnR5SWRlbnRpZmljYXRpb24+CiAgICAgICAgICAgIDxjYWM6UG9zdGFsQWRkcmVzcz4KICAgICAgICAgICAgICAgIDxjYmM6U3RyZWV0TmFtZT50ZXN0PC9jYmM6U3RyZWV0TmFtZT4KICAgICAgICAgICAgICAgIDxjYmM6QnVpbGRpbmdOdW1iZXI+MzQ1NDwvY2JjOkJ1aWxkaW5nTnVtYmVyPgogICAgICAgICAgICAgICAgPGNiYzpQbG90SWRlbnRpZmljYXRpb24+MTIzNDwvY2JjOlBsb3RJZGVudGlmaWNhdGlvbj4KICAgICAgICAgICAgICAgIDxjYmM6Q2l0eVN1YmRpdmlzaW9uTmFtZT5mZ2ZmPC9jYmM6Q2l0eVN1YmRpdmlzaW9uTmFtZT4KICAgICAgICAgICAgICAgIDxjYmM6Q2l0eU5hbWU+Uml5YWRoPC9jYmM6Q2l0eU5hbWU+CiAgICAgICAgICAgICAgICA8Y2JjOlBvc3RhbFpvbmU+MTIzNDU8L2NiYzpQb3N0YWxab25lPgogICAgICAgICAgICAgICAgPGNiYzpDb3VudHJ5U3ViZW50aXR5PnRlc3Q8L2NiYzpDb3VudHJ5U3ViZW50aXR5PgogICAgICAgICAgICAgICAgPGNhYzpDb3VudHJ5PgogICAgICAgICAgICAgICAgICAgIDxjYmM6SWRlbnRpZmljYXRpb25Db2RlPlNBPC9jYmM6SWRlbnRpZmljYXRpb25Db2RlPgogICAgICAgICAgICAgICAgPC9jYWM6Q291bnRyeT4KICAgICAgICAgICAgPC9jYWM6UG9zdGFsQWRkcmVzcz4KICAgICAgICAgICAgPGNhYzpQYXJ0eVRheFNjaGVtZT4KICAgICAgICAgICAgICAgIDxjYmM6Q29tcGFueUlEPjMwMDA3NTU4ODcwMDAwMzwvY2JjOkNvbXBhbnlJRD4KICAgICAgICAgICAgICAgIDxjYWM6VGF4U2NoZW1lPgogICAgICAgICAgICAgICAgICAgIDxjYmM6SUQ+VkFUPC9jYmM6SUQ+CiAgICAgICAgICAgICAgICA8L2NhYzpUYXhTY2hlbWU+CiAgICAgICAgICAgIDwvY2FjOlBhcnR5VGF4U2NoZW1lPgogICAgICAgICAgICA8Y2FjOlBhcnR5TGVnYWxFbnRpdHk+CiAgICAgICAgICAgICAgICA8Y2JjOlJlZ2lzdHJhdGlvbk5hbWU+QWhtZWQgTW9oYW1lZCBBTCBBaG1hZHk8L2NiYzpSZWdpc3RyYXRpb25OYW1lPgogICAgICAgICAgICA8L2NhYzpQYXJ0eUxlZ2FsRW50aXR5PgogICAgICAgIDwvY2FjOlBhcnR5PgogICAgPC9jYWM6QWNjb3VudGluZ1N1cHBsaWVyUGFydHk+CiAgICA8Y2FjOkFjY291bnRpbmdDdXN0b21lclBhcnR5PgogICAgICAgIDxjYWM6UGFydHk+CiAgICAgICAgICAgIDxjYWM6UGFydHlJZGVudGlmaWNhdGlvbj4KICAgICAgICAgICAgICAgIDxjYmM6SUQgc2NoZW1lSUQ9Ik5BVCI+MjM0NTwvY2JjOklEPgogICAgICAgICAgICA8L2NhYzpQYXJ0eUlkZW50aWZpY2F0aW9uPgogICAgICAgICAgICA8Y2FjOlBvc3RhbEFkZHJlc3M+CiAgICAgICAgICAgICAgICA8Y2JjOlN0cmVldE5hbWU+YmFhb3VuPC9jYmM6U3RyZWV0TmFtZT4KICAgICAgICAgICAgICAgIDxjYmM6QWRkaXRpb25hbFN0cmVldE5hbWU+c2RzZDwvY2JjOkFkZGl0aW9uYWxTdHJlZXROYW1lPgogICAgICAgICAgICAgICAgPGNiYzpCdWlsZGluZ051bWJlcj4zMzUzPC9jYmM6QnVpbGRpbmdOdW1iZXI+CiAgICAgICAgICAgICAgICA8Y2JjOlBsb3RJZGVudGlmaWNhdGlvbj4zNDM0PC9jYmM6UGxvdElkZW50aWZpY2F0aW9uPgogICAgICAgICAgICAgICAgPGNiYzpDaXR5U3ViZGl2aXNpb25OYW1lPmZnZmY8L2NiYzpDaXR5U3ViZGl2aXNpb25OYW1lPgogICAgICAgICAgICAgICAgPGNiYzpDaXR5TmFtZT5EaHVybWE8L2NiYzpDaXR5TmFtZT4KICAgICAgICAgICAgICAgIDxjYmM6UG9zdGFsWm9uZT4zNDUzNDwvY2JjOlBvc3RhbFpvbmU+CiAgICAgICAgICAgICAgICA8Y2JjOkNvdW50cnlTdWJlbnRpdHk+dWxoazwvY2JjOkNvdW50cnlTdWJlbnRpdHk+CiAgICAgICAgICAgICAgICA8Y2FjOkNvdW50cnk+CiAgICAgICAgICAgICAgICAgICAgPGNiYzpJZGVudGlmaWNhdGlvbkNvZGU+U0E8L2NiYzpJZGVudGlmaWNhdGlvbkNvZGU+CiAgICAgICAgICAgICAgICA8L2NhYzpDb3VudHJ5PgogICAgICAgICAgICA8L2NhYzpQb3N0YWxBZGRyZXNzPgogICAgICAgICAgICA8Y2FjOlBhcnR5VGF4U2NoZW1lPgogICAgICAgICAgICAgICAgPGNhYzpUYXhTY2hlbWU+CiAgICAgICAgICAgICAgICAgICAgPGNiYzpJRD5WQVQ8L2NiYzpJRD4KICAgICAgICAgICAgICAgIDwvY2FjOlRheFNjaGVtZT4KICAgICAgICAgICAgPC9jYWM6UGFydHlUYXhTY2hlbWU+CiAgICAgICAgICAgIDxjYWM6UGFydHlMZWdhbEVudGl0eT4KICAgICAgICAgICAgICAgIDxjYmM6UmVnaXN0cmF0aW9uTmFtZT5zZHNhPC9jYmM6UmVnaXN0cmF0aW9uTmFtZT4KICAgICAgICAgICAgPC9jYWM6UGFydHlMZWdhbEVudGl0eT4KICAgICAgICA8L2NhYzpQYXJ0eT4KICAgIDwvY2FjOkFjY291bnRpbmdDdXN0b21lclBhcnR5PgogICAgPGNhYzpEZWxpdmVyeT4KICAgICAgICA8Y2JjOkFjdHVhbERlbGl2ZXJ5RGF0ZT4yMDIyLTAzLTEzPC9jYmM6QWN0dWFsRGVsaXZlcnlEYXRlPgogICAgICAgIDxjYmM6TGF0ZXN0RGVsaXZlcnlEYXRlPjIwMjItMDMtMTU8L2NiYzpMYXRlc3REZWxpdmVyeURhdGU+CiAgICA8L2NhYzpEZWxpdmVyeT4KICAgIDxjYWM6UGF5bWVudE1lYW5zPgogICAgICAgIDxjYmM6UGF5bWVudE1lYW5zQ29kZT4xMDwvY2JjOlBheW1lbnRNZWFuc0NvZGU+CiAgICA8L2NhYzpQYXltZW50TWVhbnM+CiAgICA8Y2FjOkFsbG93YW5jZUNoYXJnZT4KICAgICAgICA8Y2JjOklEPjE8L2NiYzpJRD4KICAgICAgICA8Y2JjOkNoYXJnZUluZGljYXRvcj5mYWxzZTwvY2JjOkNoYXJnZUluZGljYXRvcj4KICAgICAgICA8Y2JjOkFsbG93YW5jZUNoYXJnZVJlYXNvbj5kaXNjb3VudDwvY2JjOkFsbG93YW5jZUNoYXJnZVJlYXNvbj4KICAgICAgICA8Y2JjOkFtb3VudCBjdXJyZW5jeUlEPSJTQVIiPjI8L2NiYzpBbW91bnQ+CiAgICAgICAgPGNhYzpUYXhDYXRlZ29yeT4KICAgICAgICAgICAgPGNiYzpJRCBzY2hlbWVBZ2VuY3lJRD0iNiIgc2NoZW1lSUQ9IlVOL0VDRSA1MzA1Ij5TPC9jYmM6SUQ+CiAgICAgICAgICAgIDxjYmM6UGVyY2VudD4xNTwvY2JjOlBlcmNlbnQ+CiAgICAgICAgICAgIDxjYWM6VGF4U2NoZW1lPgogICAgICAgICAgICAgICAgPGNiYzpJRCBzY2hlbWVBZ2VuY3lJRD0iNiIgc2NoZW1lSUQ9IlVOL0VDRSA1MTUzIj5WQVQ8L2NiYzpJRD4KICAgICAgICAgICAgPC9jYWM6VGF4U2NoZW1lPgogICAgICAgIDwvY2FjOlRheENhdGVnb3J5PgogICAgPC9jYWM6QWxsb3dhbmNlQ2hhcmdlPgogICAgPGNhYzpUYXhUb3RhbD4KICAgICAgICA8Y2JjOlRheEFtb3VudCBjdXJyZW5jeUlEPSJTQVIiPjE0NC45PC9jYmM6VGF4QW1vdW50PgogICAgICAgIDxjYWM6VGF4U3VidG90YWw+CiAgICAgICAgICAgIDxjYmM6VGF4YWJsZUFtb3VudCBjdXJyZW5jeUlEPSJTQVIiPjk2Ni4wMDwvY2JjOlRheGFibGVBbW91bnQ+CiAgICAgICAgICAgIDxjYmM6VGF4QW1vdW50IGN1cnJlbmN5SUQ9IlNBUiI+MTQ0LjkwPC9jYmM6VGF4QW1vdW50PgogICAgICAgICAgICA8Y2FjOlRheENhdGVnb3J5PgogICAgICAgICAgICAgICAgPGNiYzpJRCBzY2hlbWVBZ2VuY3lJRD0iNiIgc2NoZW1lSUQ9IlVOL0VDRSA1MzA1Ij5TPC9jYmM6SUQ+CiAgICAgICAgICAgICAgICA8Y2JjOlBlcmNlbnQ+MTUuMDA8L2NiYzpQZXJjZW50PgogICAgICAgICAgICAgICAgPGNhYzpUYXhTY2hlbWU+CiAgICAgICAgICAgICAgICAgICAgPGNiYzpJRCBzY2hlbWVBZ2VuY3lJRD0iNiIgc2NoZW1lSUQ9IlVOL0VDRSA1MTUzIj5WQVQ8L2NiYzpJRD4KICAgICAgICAgICAgICAgIDwvY2FjOlRheFNjaGVtZT4KICAgICAgICAgICAgPC9jYWM6VGF4Q2F0ZWdvcnk+CiAgICAgICAgPC9jYWM6VGF4U3VidG90YWw+CiAgICA8L2NhYzpUYXhUb3RhbD4KICAgIDxjYWM6VGF4VG90YWw+CiAgICAgICAgPGNiYzpUYXhBbW91bnQgY3VycmVuY3lJRD0iU0FSIj4xNDQuOTwvY2JjOlRheEFtb3VudD4KCiAgICA8L2NhYzpUYXhUb3RhbD4KICAgIDxjYWM6TGVnYWxNb25ldGFyeVRvdGFsPgogICAgICAgIDxjYmM6TGluZUV4dGVuc2lvbkFtb3VudCBjdXJyZW5jeUlEPSJTQVIiPjk2Ni4wMDwvY2JjOkxpbmVFeHRlbnNpb25BbW91bnQ+CiAgICAgICAgPGNiYzpUYXhFeGNsdXNpdmVBbW91bnQgY3VycmVuY3lJRD0iU0FSIj45NjQuMDA8L2NiYzpUYXhFeGNsdXNpdmVBbW91bnQ+CiAgICAgICAgPGNiYzpUYXhJbmNsdXNpdmVBbW91bnQgY3VycmVuY3lJRD0iU0FSIj4xMTA4LjkwPC9jYmM6VGF4SW5jbHVzaXZlQW1vdW50PgogICAgICAgIDxjYmM6QWxsb3dhbmNlVG90YWxBbW91bnQgY3VycmVuY3lJRD0iU0FSIj4yLjAwPC9jYmM6QWxsb3dhbmNlVG90YWxBbW91bnQ+CiAgICAgICAgPGNiYzpQcmVwYWlkQW1vdW50IGN1cnJlbmN5SUQ9IlNBUiI+MC4wMDwvY2JjOlByZXBhaWRBbW91bnQ+CiAgICAgICAgPGNiYzpQYXlhYmxlQW1vdW50IGN1cnJlbmN5SUQ9IlNBUiI+MTEwOC45MDwvY2JjOlBheWFibGVBbW91bnQ+CiAgICA8L2NhYzpMZWdhbE1vbmV0YXJ5VG90YWw+CiAgICA8Y2FjOkludm9pY2VMaW5lPgogICAgICAgIDxjYmM6SUQ+MTwvY2JjOklEPgogICAgICAgIDxjYmM6SW52b2ljZWRRdWFudGl0eSB1bml0Q29kZT0iUENFIj40NC4wMDAwMDA8L2NiYzpJbnZvaWNlZFF1YW50aXR5PgogICAgICAgIDxjYmM6TGluZUV4dGVuc2lvbkFtb3VudCBjdXJyZW5jeUlEPSJTQVIiPjk2Ni4wMDwvY2JjOkxpbmVFeHRlbnNpb25BbW91bnQ+CiAgICAgICAgPGNhYzpUYXhUb3RhbD4KICAgICAgICAgICAgPGNiYzpUYXhBbW91bnQgY3VycmVuY3lJRD0iU0FSIj4xNDQuOTA8L2NiYzpUYXhBbW91bnQ+CiAgICAgICAgICAgIDxjYmM6Um91bmRpbmdBbW91bnQgY3VycmVuY3lJRD0iU0FSIj4xMTEwLjkwPC9jYmM6Um91bmRpbmdBbW91bnQ+CgogICAgICAgIDwvY2FjOlRheFRvdGFsPgogICAgICAgIDxjYWM6SXRlbT4KICAgICAgICAgICAgPGNiYzpOYW1lPmRzZDwvY2JjOk5hbWU+CiAgICAgICAgICAgIDxjYWM6Q2xhc3NpZmllZFRheENhdGVnb3J5PgogICAgICAgICAgICAgICAgPGNiYzpJRD5TPC9jYmM6SUQ+CiAgICAgICAgICAgICAgICA8Y2JjOlBlcmNlbnQ+MTUuMDA8L2NiYzpQZXJjZW50PgogICAgICAgICAgICAgICAgPGNhYzpUYXhTY2hlbWU+CiAgICAgICAgICAgICAgICAgICAgPGNiYzpJRD5WQVQ8L2NiYzpJRD4KICAgICAgICAgICAgICAgIDwvY2FjOlRheFNjaGVtZT4KICAgICAgICAgICAgPC9jYWM6Q2xhc3NpZmllZFRheENhdGVnb3J5PgogICAgICAgIDwvY2FjOkl0ZW0+CiAgICAgICAgPGNhYzpQcmljZT4KICAgICAgICAgICAgPGNiYzpQcmljZUFtb3VudCBjdXJyZW5jeUlEPSJTQVIiPjIyLjAwPC9jYmM6UHJpY2VBbW91bnQ+CiAgICAgICAgICAgIDxjYWM6QWxsb3dhbmNlQ2hhcmdlPgogICAgICAgICAgICAgICAgPGNiYzpDaGFyZ2VJbmRpY2F0b3I+ZmFsc2U8L2NiYzpDaGFyZ2VJbmRpY2F0b3I+CiAgICAgICAgICAgICAgICA8Y2JjOkFsbG93YW5jZUNoYXJnZVJlYXNvbj5kaXNjb3VudDwvY2JjOkFsbG93YW5jZUNoYXJnZVJlYXNvbj4KICAgICAgICAgICAgICAgIDxjYmM6QW1vdW50IGN1cnJlbmN5SUQ9IlNBUiI+Mi4wMDwvY2JjOkFtb3VudD4KICAgICAgICAgICAgPC9jYWM6QWxsb3dhbmNlQ2hhcmdlPgogICAgICAgIDwvY2FjOlByaWNlPgogICAgPC9jYWM6SW52b2ljZUxpbmU+CjwvSW52b2ljZT4="
                    }
                }
            },
            "ClearanceAPI": {
                "type": "object",
                "properties": {
                    "invoiceHash": {
                        "type": "string",
                        "description": "invoiceHash",
                        "example": "t1vEblOtMk4E3+YFofL4rYw8ARqvuvA5aQYVw6wS3BA="
                    },
                    "uuid": {
                        "type": "string",
                        "description": "uuid",
                        "example": "16e78469-64af-406d-9cfd-895e724198f0"
                    },
                    "invoice": {
                        "type": "string",
                        "description": "invoice",
                        "example": "PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPEludm9pY2UgeG1sbnM9InVybjpvYXNpczpuYW1lczpzcGVjaWZpY2F0aW9uOnVibDpzY2hlbWE6eHNkOkludm9pY2UtMiIgeG1sbnM6Y2FjPSJ1cm46b2FzaXM6bmFtZXM6c3BlY2lmaWNhdGlvbjp1Ymw6c2NoZW1hOnhzZDpDb21tb25BZ2dyZWdhdGVDb21wb25lbnRzLTIiIHhtbG5zOmNiYz0idXJuOm9hc2lzOm5hbWVzOnNwZWNpZmljYXRpb246dWJsOnNjaGVtYTp4c2Q6Q29tbW9uQmFzaWNDb21wb25lbnRzLTIiIHhtbG5zOmV4dD0idXJuOm9hc2lzOm5hbWVzOnNwZWNpZmljYXRpb246dWJsOnNjaGVtYTp4c2Q6Q29tbW9uRXh0ZW5zaW9uQ29tcG9uZW50cy0yIj48ZXh0OlVCTEV4dGVuc2lvbnM+CiAgICA8ZXh0OlVCTEV4dGVuc2lvbj4KICAgICAgICA8ZXh0OkV4dGVuc2lvblVSST51cm46b2FzaXM6bmFtZXM6c3BlY2lmaWNhdGlvbjp1Ymw6ZHNpZzplbnZlbG9wZWQ6eGFkZXM8L2V4dDpFeHRlbnNpb25VUkk+CiAgICAgICAgPGV4dDpFeHRlbnNpb25Db250ZW50PgogICAgICAgICAgICA8IS0tIFBsZWFzZSBub3RlIHRoYXQgdGhlIHNpZ25hdHVyZSB2YWx1ZXMgYXJlIHNhbXBsZSB2YWx1ZXMgb25seSAtLT4KICAgICAgICAgICAgPHNpZzpVQkxEb2N1bWVudFNpZ25hdHVyZXMgeG1sbnM6c2lnPSJ1cm46b2FzaXM6bmFtZXM6c3BlY2lmaWNhdGlvbjp1Ymw6c2NoZW1hOnhzZDpDb21tb25TaWduYXR1cmVDb21wb25lbnRzLTIiIHhtbG5zOnNhYz0idXJuOm9hc2lzOm5hbWVzOnNwZWNpZmljYXRpb246dWJsOnNjaGVtYTp4c2Q6U2lnbmF0dXJlQWdncmVnYXRlQ29tcG9uZW50cy0yIiB4bWxuczpzYmM9InVybjpvYXNpczpuYW1lczpzcGVjaWZpY2F0aW9uOnVibDpzY2hlbWE6eHNkOlNpZ25hdHVyZUJhc2ljQ29tcG9uZW50cy0yIj4KICAgICAgICAgICAgICAgIDxzYWM6U2lnbmF0dXJlSW5mb3JtYXRpb24+CiAgICAgICAgICAgICAgICAgICAgPGNiYzpJRD51cm46b2FzaXM6bmFtZXM6c3BlY2lmaWNhdGlvbjp1Ymw6c2lnbmF0dXJlOjE8L2NiYzpJRD4KICAgICAgICAgICAgICAgICAgICA8c2JjOlJlZmVyZW5jZWRTaWduYXR1cmVJRD51cm46b2FzaXM6bmFtZXM6c3BlY2lmaWNhdGlvbjp1Ymw6c2lnbmF0dXJlOkludm9pY2U8L3NiYzpSZWZlcmVuY2VkU2lnbmF0dXJlSUQ+CiAgICAgICAgICAgICAgICAgICAgPGRzOlNpZ25hdHVyZSB4bWxuczpkcz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC8wOS94bWxkc2lnIyIgSWQ9InNpZ25hdHVyZSI+CiAgICAgICAgICAgICAgICAgICAgICAgIDxkczpTaWduZWRJbmZvPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPGRzOkNhbm9uaWNhbGl6YXRpb25NZXRob2QgQWxnb3JpdGhtPSJodHRwOi8vd3d3LnczLm9yZy8yMDA2LzEyL3htbC1jMTRuMTEiLz4KICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxkczpTaWduYXR1cmVNZXRob2QgQWxnb3JpdGhtPSJodHRwOi8vd3d3LnczLm9yZy8yMDAxLzA0L3htbGRzaWctbW9yZSNlY2RzYS1zaGEyNTYiLz4KICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxkczpSZWZlcmVuY2UgSWQ9Imludm9pY2VTaWduZWREYXRhIiBVUkk9IiI+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPGRzOlRyYW5zZm9ybXM+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxkczpUcmFuc2Zvcm0gQWxnb3JpdGhtPSJodHRwOi8vd3d3LnczLm9yZy9UUi8xOTk5L1JFQy14cGF0aC0xOTk5MTExNiI+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA8ZHM6WFBhdGg+bm90KC8vYW5jZXN0b3Itb3Itc2VsZjo6ZXh0OlVCTEV4dGVuc2lvbnMpPC9kczpYUGF0aD4KICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPC9kczpUcmFuc2Zvcm0+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxkczpUcmFuc2Zvcm0gQWxnb3JpdGhtPSJodHRwOi8vd3d3LnczLm9yZy9UUi8xOTk5L1JFQy14cGF0aC0xOTk5MTExNiI+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA8ZHM6WFBhdGg+bm90KC8vYW5jZXN0b3Itb3Itc2VsZjo6Y2FjOlNpZ25hdHVyZSk8L2RzOlhQYXRoPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA8L2RzOlRyYW5zZm9ybT4KICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPGRzOlRyYW5zZm9ybSBBbGdvcml0aG09Imh0dHA6Ly93d3cudzMub3JnL1RSLzE5OTkvUkVDLXhwYXRoLTE5OTkxMTE2Ij4KICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxkczpYUGF0aD5ub3QoLy9hbmNlc3Rvci1vci1zZWxmOjpjYWM6QWRkaXRpb25hbERvY3VtZW50UmVmZXJlbmNlW2NiYzpJRD0nUVInXSk8L2RzOlhQYXRoPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA8L2RzOlRyYW5zZm9ybT4KICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPGRzOlRyYW5zZm9ybSBBbGdvcml0aG09Imh0dHA6Ly93d3cudzMub3JnLzIwMDYvMTIveG1sLWMxNG4xMSIvPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDwvZHM6VHJhbnNmb3Jtcz4KICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA8ZHM6RGlnZXN0TWV0aG9kIEFsZ29yaXRobT0iaHR0cDovL3d3dy53My5vcmcvMjAwMS8wNC94bWxlbmMjc2hhMjU2Ii8+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPGRzOkRpZ2VzdFZhbHVlPnQxdkVibE90TWs0RTMrWUZvZkw0cll3OEFScXZ1dkE1YVFZVnc2d1MzQkE9PC9kczpEaWdlc3RWYWx1ZT4KICAgICAgICAgICAgICAgICAgICAgICAgICAgIDwvZHM6UmVmZXJlbmNlPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPGRzOlJlZmVyZW5jZSBUeXBlPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwLzA5L3htbGRzaWcjU2lnbmF0dXJlUHJvcGVydGllcyIgVVJJPSIjeGFkZXNTaWduZWRQcm9wZXJ0aWVzIj4KICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA8ZHM6RGlnZXN0TWV0aG9kIEFsZ29yaXRobT0iaHR0cDovL3d3dy53My5vcmcvMjAwMS8wNC94bWxlbmMjc2hhMjU2Ii8+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPGRzOkRpZ2VzdFZhbHVlPlpXTXlaR0ptWWpoaU1ETTVZemcxTmpGak1UWTRPR0ZqTUdaaU9XUmpaR1F3WkRVNFpEYzJOR1l6TVRGaU1qZGhOelkxT0RZek0yWXdPV0UxTldGak5BPT08L2RzOkRpZ2VzdFZhbHVlPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPC9kczpSZWZlcmVuY2U+CiAgICAgICAgICAgICAgICAgICAgICAgIDwvZHM6U2lnbmVkSW5mbz4KICAgICAgICAgICAgICAgICAgICAgICAgPGRzOlNpZ25hdHVyZVZhbHVlPk1FUUNJR0FRajc4L2RsRmozMUFaQkRLNzlHS1R2WkpoNXNEOWZNRVllZUU4YXp3Y0FpQllMK24xNDNqS2tMMGZqVjBEMFMvSFF4eFV0VC9OTS9LNXI5MnBaMjRWd0E9PTwvZHM6U2lnbmF0dXJlVmFsdWU+CiAgICAgICAgICAgICAgICAgICAgICAgIDxkczpLZXlJbmZvPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPGRzOlg1MDlEYXRhPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxkczpYNTA5Q2VydGlmaWNhdGU+TUlJRDl6Q0NBNXlnQXdJQkFnSVRid0FBZWFyc0dEK3dRcEQzYUFBQkFBQjVxakFLQmdncWhrak9QUVFEQWpCak1SVXdFd1lLQ1pJbWlaUHlMR1FCR1JZRmJHOWpZV3d4RXpBUkJnb0praWFKay9Jc1pBRVpGZ05uYjNZeEZ6QVZCZ29Ka2lhSmsvSXNaQUVaRmdkbGVIUm5ZWHAwTVJ3d0dnWURWUVFERXhOVVUxcEZTVTVXVDBsRFJTMVRkV0pEUVMweE1CNFhEVEl5TURVeE1qQTVORFUwTkZvWERUSTBNRFV4TVRBNU5EVTBORm93V2pFTE1Ba0dBMVVFQmhNQ1UwRXhFekFSQmdOVkJBb1RDak13TURBM05UVTRPRGN4RERBS0JnTlZCQXNUQTFSVFZERW9NQ1lHQTFVRUF4TWZWRk5VTFMweE1qSTNOREk1TWpRd0xUTXdNREEzTlRVNE9EY3dNREF3TXpCV01CQUdCeXFHU000OUFnRUdCU3VCQkFBS0EwSUFCR0dEREtEbWhXQUlURHY3TFhxTFgyY21yNitxZGRVa3BjTEN2V3M1ckMyTzI5Vy9oUzRhakFLNFFkbmFoeW02TWFpalg3NUNnM2o0YWFvN291WVhKOUdqZ2dJNU1JSUNOVENCbWdZRFZSMFJCSUdTTUlHUHBJR01NSUdKTVRzd09RWURWUVFFRERJeExWUlRWSHd5TFZSVFZId3pMVGs0T0RKa09ESmlMVGMwWm1VdE5EVXlNUzA1WkRCbExUUTNOamd4WlRsa04yUTFaVEVmTUIwR0NnbVNKb21UOGl4a0FRRU1Eek13TURBM05UVTRPRGN3TURBd016RU5NQXNHQTFVRURBd0VNVEV3TURFTU1Bb0dBMVVFR2d3RFZGTlVNUXd3Q2dZRFZRUVBEQU5VVTFRd0hRWURWUjBPQkJZRUZEdVdZbE96V3BGTjNubzFXdHlOa3RRZHJBOEpNQjhHQTFVZEl3UVlNQmFBRkhaZ2pQc0dvS3huVnpXZHo1cXNweXVaTmJVdk1FNEdBMVVkSHdSSE1FVXdRNkJCb0QrR1BXaDBkSEE2THk5MGMzUmpjbXd1ZW1GMFkyRXVaMjkyTG5OaEwwTmxjblJGYm5KdmJHd3ZWRk5hUlVsT1ZrOUpRMFV0VTNWaVEwRXRNUzVqY213d2dhMEdDQ3NHQVFVRkJ3RUJCSUdnTUlHZE1HNEdDQ3NHQVFVRkJ6QUJobUpvZEhSd09pOHZkSE4wWTNKc0xucGhkR05oTG1kdmRpNXpZUzlEWlhKMFJXNXliMnhzTDFSVFdrVnBiblp2YVdObFUwTkJNUzVsZUhSbllYcDBMbWR2ZGk1c2IyTmhiRjlVVTFwRlNVNVdUMGxEUlMxVGRXSkRRUzB4S0RFcExtTnlkREFyQmdnckJnRUZCUWN3QVlZZmFIUjBjRG92TDNSemRHTnliQzU2WVhSallTNW5iM1l1YzJFdmIyTnpjREFPQmdOVkhROEJBZjhFQkFNQ0I0QXdIUVlEVlIwbEJCWXdGQVlJS3dZQkJRVUhBd0lHQ0NzR0FRVUZCd01ETUNjR0NTc0dBUVFCZ2pjVkNnUWFNQmd3Q2dZSUt3WUJCUVVIQXdJd0NnWUlLd1lCQlFVSEF3TXdDZ1lJS29aSXpqMEVBd0lEU1FBd1JnSWhBTU1nSGtoSDUxYlNPV3BXNFhielh2RTQ0SVdwMVJTRUFTbzVlRkV4b0JBS0FpRUE4eUc4bGt5TEJNcDdtaEpia09VSzZFTEpiMXVuMnRNcTM1VURQTCtweGJBPTwvZHM6WDUwOUNlcnRpZmljYXRlPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPC9kczpYNTA5RGF0YT4KICAgICAgICAgICAgICAgICAgICAgICAgPC9kczpLZXlJbmZvPgogICAgICAgICAgICAgICAgICAgICAgICA8ZHM6T2JqZWN0PgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPHhhZGVzOlF1YWxpZnlpbmdQcm9wZXJ0aWVzIHhtbG5zOnhhZGVzPSJodHRwOi8vdXJpLmV0c2kub3JnLzAxOTAzL3YxLjMuMiMiIFRhcmdldD0ic2lnbmF0dXJlIj4KICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA8eGFkZXM6U2lnbmVkUHJvcGVydGllcyBJZD0ieGFkZXNTaWduZWRQcm9wZXJ0aWVzIj4KICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPHhhZGVzOlNpZ25lZFNpZ25hdHVyZVByb3BlcnRpZXM+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA8eGFkZXM6U2lnbmluZ1RpbWU+MjAyMi0wNS0xMlQwOTo1NTo0NFo8L3hhZGVzOlNpZ25pbmdUaW1lPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPHhhZGVzOlNpZ25pbmdDZXJ0aWZpY2F0ZT4KICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA8eGFkZXM6Q2VydD4KICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPHhhZGVzOkNlcnREaWdlc3Q+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA8ZHM6RGlnZXN0TWV0aG9kIEFsZ29yaXRobT0iaHR0cDovL3d3dy53My5vcmcvMjAwMS8wNC94bWxlbmMjc2hhMjU2Ii8+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA8ZHM6RGlnZXN0VmFsdWU+TW1aaE56bGlZV1JoTVRaallUUXdNV1JpTURrNE56SXdZakZsTW1GaE56QmxZek00Tm1GaE9EazFZall5TlRneE5tTXpNV1F6TkRFNVpHRmxNR1EzT1E9PTwvZHM6RGlnZXN0VmFsdWU+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDwveGFkZXM6Q2VydERpZ2VzdD4KICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPHhhZGVzOklzc3VlclNlcmlhbD4KICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxkczpYNTA5SXNzdWVyTmFtZT5DTj1UU1pFSU5WT0lDRS1TdWJDQS0xLCBEQz1leHRnYXp0LCBEQz1nb3YsIERDPWxvY2FsPC9kczpYNTA5SXNzdWVyTmFtZT4KICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxkczpYNTA5U2VyaWFsTnVtYmVyPjI0NzUzODI4Nzg3NjA5NjU2OTQ0ODkyMDkwOTYzODIzODk3OTc4MjEzODEwMzQ8L2RzOlg1MDlTZXJpYWxOdW1iZXI+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDwveGFkZXM6SXNzdWVyU2VyaWFsPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDwveGFkZXM6Q2VydD4KICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDwveGFkZXM6U2lnbmluZ0NlcnRpZmljYXRlPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA8L3hhZGVzOlNpZ25lZFNpZ25hdHVyZVByb3BlcnRpZXM+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPC94YWRlczpTaWduZWRQcm9wZXJ0aWVzPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPC94YWRlczpRdWFsaWZ5aW5nUHJvcGVydGllcz4KICAgICAgICAgICAgICAgICAgICAgICAgPC9kczpPYmplY3Q+CiAgICAgICAgICAgICAgICAgICAgPC9kczpTaWduYXR1cmU+CiAgICAgICAgICAgICAgICA8L3NhYzpTaWduYXR1cmVJbmZvcm1hdGlvbj4KICAgICAgICAgICAgPC9zaWc6VUJMRG9jdW1lbnRTaWduYXR1cmVzPgogICAgICAgIDwvZXh0OkV4dGVuc2lvbkNvbnRlbnQ+CiAgICA8L2V4dDpVQkxFeHRlbnNpb24+CjwvZXh0OlVCTEV4dGVuc2lvbnM+CiAgICAKICAgIDxjYmM6UHJvZmlsZUlEPnJlcG9ydGluZzoxLjA8L2NiYzpQcm9maWxlSUQ+CiAgICA8Y2JjOklEPlNNRTAwMDYyPC9jYmM6SUQ+CiAgICA8Y2JjOlVVSUQ+MTZlNzg0NjktNjRhZi00MDZkLTljZmQtODk1ZTcyNDE5OGYwPC9jYmM6VVVJRD4KICAgIDxjYmM6SXNzdWVEYXRlPjIwMjItMDMtMTM8L2NiYzpJc3N1ZURhdGU+CiAgICA8Y2JjOklzc3VlVGltZT4xNDo0MDo0MDwvY2JjOklzc3VlVGltZT4KICAgIDxjYmM6SW52b2ljZVR5cGVDb2RlIG5hbWU9IjAxMTEwMTAiPjM4ODwvY2JjOkludm9pY2VUeXBlQ29kZT4KICAgIDxjYmM6RG9jdW1lbnRDdXJyZW5jeUNvZGU+U0FSPC9jYmM6RG9jdW1lbnRDdXJyZW5jeUNvZGU+CiAgICA8Y2JjOlRheEN1cnJlbmN5Q29kZT5TQVI8L2NiYzpUYXhDdXJyZW5jeUNvZGU+CiAgICA8Y2FjOkFkZGl0aW9uYWxEb2N1bWVudFJlZmVyZW5jZT4KICAgICAgICA8Y2JjOklEPklDVjwvY2JjOklEPgogICAgICAgIDxjYmM6VVVJRD42MjwvY2JjOlVVSUQ+CiAgICA8L2NhYzpBZGRpdGlvbmFsRG9jdW1lbnRSZWZlcmVuY2U+CiAgICA8Y2FjOkFkZGl0aW9uYWxEb2N1bWVudFJlZmVyZW5jZT4KICAgICAgICA8Y2JjOklEPlBJSDwvY2JjOklEPgogICAgICAgIDxjYWM6QXR0YWNobWVudD4KICAgICAgICAgICAgPGNiYzpFbWJlZGRlZERvY3VtZW50QmluYXJ5T2JqZWN0IG1pbWVDb2RlPSJ0ZXh0L3BsYWluIj5OV1psWTJWaU5qWm1abU00Tm1Zek9HUTVOVEkzT0Raak5tUTJPVFpqTnpsak1tUmlZekl6T1dSa05HVTVNV0kwTmpjeU9XUTNNMkV5TjJaaU5UZGxPUT09PC9jYmM6RW1iZWRkZWREb2N1bWVudEJpbmFyeU9iamVjdD4KICAgICAgICA8L2NhYzpBdHRhY2htZW50PgogICAgPC9jYWM6QWRkaXRpb25hbERvY3VtZW50UmVmZXJlbmNlPgogICAgCiAgICA8Y2FjOkFjY291bnRpbmdTdXBwbGllclBhcnR5PgogICAgICAgIDxjYWM6UGFydHk+CiAgICAgICAgICAgIDxjYWM6UGFydHlJZGVudGlmaWNhdGlvbj4KICAgICAgICAgICAgICAgIDxjYmM6SUQgc2NoZW1lSUQ9IkNSTiI+NDU0NjM0NjQ1NjQ1NjU0PC9jYmM6SUQ+CiAgICAgICAgICAgIDwvY2FjOlBhcnR5SWRlbnRpZmljYXRpb24+CiAgICAgICAgICAgIDxjYWM6UG9zdGFsQWRkcmVzcz4KICAgICAgICAgICAgICAgIDxjYmM6U3RyZWV0TmFtZT50ZXN0PC9jYmM6U3RyZWV0TmFtZT4KICAgICAgICAgICAgICAgIDxjYmM6QnVpbGRpbmdOdW1iZXI+MzQ1NDwvY2JjOkJ1aWxkaW5nTnVtYmVyPgogICAgICAgICAgICAgICAgPGNiYzpQbG90SWRlbnRpZmljYXRpb24+MTIzNDwvY2JjOlBsb3RJZGVudGlmaWNhdGlvbj4KICAgICAgICAgICAgICAgIDxjYmM6Q2l0eVN1YmRpdmlzaW9uTmFtZT50ZXN0PC9jYmM6Q2l0eVN1YmRpdmlzaW9uTmFtZT4KICAgICAgICAgICAgICAgIDxjYmM6Q2l0eU5hbWU+Uml5YWRoPC9jYmM6Q2l0eU5hbWU+CiAgICAgICAgICAgICAgICA8Y2JjOlBvc3RhbFpvbmU+MTIzNDU8L2NiYzpQb3N0YWxab25lPgogICAgICAgICAgICAgICAgPGNiYzpDb3VudHJ5U3ViZW50aXR5PnRlc3Q8L2NiYzpDb3VudHJ5U3ViZW50aXR5PgogICAgICAgICAgICAgICAgPGNhYzpDb3VudHJ5PgogICAgICAgICAgICAgICAgICAgIDxjYmM6SWRlbnRpZmljYXRpb25Db2RlPlNBPC9jYmM6SWRlbnRpZmljYXRpb25Db2RlPgogICAgICAgICAgICAgICAgPC9jYWM6Q291bnRyeT4KICAgICAgICAgICAgPC9jYWM6UG9zdGFsQWRkcmVzcz4KICAgICAgICAgICAgPGNhYzpQYXJ0eVRheFNjaGVtZT4KICAgICAgICAgICAgICAgIDxjYmM6Q29tcGFueUlEPjMwMDA3NTU4ODcwMDAwMzwvY2JjOkNvbXBhbnlJRD4KICAgICAgICAgICAgICAgIDxjYWM6VGF4U2NoZW1lPgogICAgICAgICAgICAgICAgICAgIDxjYmM6SUQ+VkFUPC9jYmM6SUQ+CiAgICAgICAgICAgICAgICA8L2NhYzpUYXhTY2hlbWU+CiAgICAgICAgICAgIDwvY2FjOlBhcnR5VGF4U2NoZW1lPgogICAgICAgICAgICA8Y2FjOlBhcnR5TGVnYWxFbnRpdHk+CiAgICAgICAgICAgICAgICA8Y2JjOlJlZ2lzdHJhdGlvbk5hbWU+QWhtZWQgTW9oYW1lZCBBTCBBaG1hZHk8L2NiYzpSZWdpc3RyYXRpb25OYW1lPgogICAgICAgICAgICA8L2NhYzpQYXJ0eUxlZ2FsRW50aXR5PgogICAgICAgIDwvY2FjOlBhcnR5PgogICAgPC9jYWM6QWNjb3VudGluZ1N1cHBsaWVyUGFydHk+CiAgICA8Y2FjOkFjY291bnRpbmdDdXN0b21lclBhcnR5PgogICAgICAgIDxjYWM6UGFydHk+CiAgICAgICAgICAgIDxjYWM6UGFydHlJZGVudGlmaWNhdGlvbj4KICAgICAgICAgICAgICAgIDxjYmM6SUQgc2NoZW1lSUQ9Ik5BVCI+MjM0NTwvY2JjOklEPgogICAgICAgICAgICA8L2NhYzpQYXJ0eUlkZW50aWZpY2F0aW9uPgogICAgICAgICAgICA8Y2FjOlBvc3RhbEFkZHJlc3
[...]
